In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import calendar 
from datetime import datetime
import pytz

In [2]:
ttt = pd.read_csv('october_all_markets_data.csv', sep=';', header=0, index_col=29)
ttt.drop(columns=['Unnamed: 0'], inplace=True)
ttt

,RK Price Down,RK Price Up,RK Volume down,RK Volume Up,RKOM-H Price up,RKOM-H Volume up,RKOM-B Price up,RKOM-B Volume up,RKOM-H Price down,RKOM-H Volume down,...,FCR-D Price EUR/MW.1,FCR-D Volume MW.1,FFR-Flex Price [EUR/MW],FFR-Profil Price [EUR/MW],FFR-Flex Volume,FFR-Profil Volume,aFRR Volume Up NO5,aFRR Price Up NO5,aFRR Volume Down NO5,aFRR Price Down NO5
Time(Local),,,,,,,,,,,,,,,,,,,,,
2022-10-01 01:00:00+02:00,19.36,65.62,NaN,22.8,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,85,190.0,75,345.0
2022-10-01 02:00:00+02:00,19.07,51.60,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,0,0.0,0,0.0
2022-10-01 03:00:00+02:00,14.50,22.17,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,0,0.0,0,0.0
2022-10-01 04:00:00+02:00,14.50,17.45,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,0,0.0,0,0.0
2022-10-01 05:00:00+02:00,16.52,16.52,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-31 19:00:00+01:00,117.00,162.95,NaN,NaN,100.0,630.0,8.0,24.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,35,40.0,35,30.0
2022-10-31 20:00:00+01:00,101.00,142.72,0.0,0.0,100.0,630.0,8.0,24.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,45,45.0,55,45.0
2022-10-31 21:00:00+01:00,95.00,132.81,0.0,15.6,100.0,630.0,8.0,24.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,35,40.0,35,35.0
2022-10-31 22:00:00+01:00,85.00,116.77,NaN,NaN,100.0,630.0,8.0,24.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,45,35.8,55,45.0
2022-10-31 23:00:00+01:00,60.00,100.73,NaN,NaN,100.0,630.0,8.0,24.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,45,45.0,55,75.0

In [3]:
ttt.index

Index(['2022-10-01 01:00:00+02:00', '2022-10-01 02:00:00+02:00',
       '2022-10-01 03:00:00+02:00', '2022-10-01 04:00:00+02:00',
       '2022-10-01 05:00:00+02:00', '2022-10-01 06:00:00+02:00',
       '2022-10-01 07:00:00+02:00', '2022-10-01 08:00:00+02:00',
       '2022-10-01 09:00:00+02:00', '2022-10-01 10:00:00+02:00',
       ...
       '2022-10-31 14:00:00+01:00', '2022-10-31 15:00:00+01:00',
       '2022-10-31 16:00:00+01:00', '2022-10-31 17:00:00+01:00',
       '2022-10-31 18:00:00+01:00', '2022-10-31 19:00:00+01:00',
       '2022-10-31 20:00:00+01:00', '2022-10-31 21:00:00+01:00',
       '2022-10-31 22:00:00+01:00', '2022-10-31 23:00:00+01:00'],
      dtype='object', name='Time(Local)', length=744)

In [4]:
def get_wanted_day_of_month(df, day):
    first_index = (day-1)*24 -1
    last_index = day*24 -1
    return df.iloc[first_index:last_index]

In [63]:
third_october = get_wanted_day_of_month(ttt, 3)
third_october

,RK Price Down,RK Price Up,RK Volume down,RK Volume Up,RKOM-H Price up,RKOM-H Volume up,RKOM-B Price up,RKOM-B Volume up,RKOM-H Price down,RKOM-H Volume down,...,FCR-D Price EUR/MW.1,FCR-D Volume MW.1,FFR-Flex Price [EUR/MW],FFR-Profil Price [EUR/MW],FFR-Flex Volume,FFR-Profil Volume,aFRR Volume Up NO5,aFRR Price Up NO5,aFRR Volume Down NO5,aFRR Price Down NO5
Time(Local),,,,,,,,,,,,,,,,,,,,,
2022-10-03 00:00:00+02:00,183.01,183.01,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,60,136.00,65,223.35
2022-10-03 01:00:00+02:00,169.08,169.08,-25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,60,120.00,65,192.00
2022-10-03 02:00:00+02:00,33.48,161.28,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,0,0.00,0,0.00
2022-10-03 03:00:00+02:00,33.61,94.41,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,0,0.00,0,0.00
2022-10-03 04:00:00+02:00,98.26,98.26,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,0,0.00,0,0.00
2022-10-03 05:00:00+02:00,132.01,132.01,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,0,0.00,0,0.00
2022-10-03 06:00:00+02:00,199.91,206.41,NaN,NaN,55.0,122.0,25.5,254.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,100,226.50,90,300.00
2022-10-03 07:00:00+02:00,286.82,289.78,NaN,NaN,55.0,122.0,25.5,254.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,100,210.00,80,300.00
2022-10-03 08:00:00+02:00,304.10,311.80,NaN,NaN,55.0,122.0,25.5,254.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,80,176.00,60,229.50
2022-10-03 09:00:00+02:00,259.36,311.80,NaN,NaN,55.0,122.0,25.5,254.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,100,184.00,60,224.00
2022-10-03 10:00:00+02:00,199.93,199.93,NaN,NaN,55.0,122.0,25.5,254.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,85,200.00,65,264.00
2022-10-03 11:00:00+02:00,147.33,153.54,NaN,NaN,55.0,122.0,25.5,254.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,85,208.00,65,280.00
2022-10-03 12:00:00+02:00,119.09,121.81,NaN,NaN,55.0,122.0,25.5,254.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,85,224.00,65,296.00
2022-10-03 13:00:00+02:00,45.00,129.31,0.0,0.0,55.0,122.0,25.5,254.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,60,96.00,65,176.00
2022-10-03 14:00:00+02:00,40.00,145.08,0.0,0.0,55.0,122.0,25.5,254.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,60,98.00,65,176.00
2022-10-03 15:00:00+02:00,50.00,184.31,NaN,NaN,55.0,122.0,25.5,254.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,85,232.00,65,312.00
2022-10-03 16:00:00+02:00,188.00,223.95,NaN,NaN,55.0,122.0,25.5,254.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,85,248.00,65,328.00
2022-10-03 17:00:00+02:00,260.00,312.48,NaN,NaN,55.0,122.0,25.5,254.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,85,240.00,65,312.00
2022-10-03 18:00:00+02:00,344.99,344.99,0.0,189.0,55.0,122.0,25.5,254.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,85,184.00,55,216.00
2022-10-03 19:00:00+02:00,351.27,351.27,NaN,NaN,55.0,122.0,25.5,254.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,65,80.00,65,88.00
2022-10-03 20:00:00+02:00,342.91,342.91,NaN,NaN,55.0,122.0,25.5,254.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,65,91.00,70,56.00
2022-10-03 21:00:00+02:00,272.00,306.83,NaN,0.0,55.0,122.0,25.5,254.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,85,82.92,70,56.00
2022-10-03 22:00:00+02:00,272.00,299.87,NaN,NaN,55.0,122.0,25.5,254.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,85,79.86,70,80.00
2022-10-03 23:00:00+02:00,279.93,279.93,NaN,NaN,55.0,122.0,25.5,254.0,0.0,0.0,...,0.0,0,450,0.0,0.0,0.0,90,88.00,60,88.00

In [17]:
first_ocotber = ttt.iloc[:24]

# RKOM Week

In [10]:
rkom_2022_df = pd.read_excel("/Users/sandermeland/Documents/Jobb/Volte/master-kode/markets/markets-data/RKOM.xlsx")

In [8]:
rkom_2022_df

,Year,Week,Areas,Hour,Direction,RKOM-H Volume Weekday,RKOM-H Price Weekday,RKOM-H Volume Weekend,RKOM-H Price Weekend,RKOM-B Volume Weekday,RKOM-B Price Weekday,RKOM-B Volume Weekend,RKOM-B Price Weekend
0,2022,24,NO5,1,Up,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
1,2022,24,NO5,2,Up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022,24,NO5,3,Up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022,24,NO5,4,Up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022,24,NO5,5,Up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6331,2022,34,NaN,20,Down,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6332,2022,34,NaN,21,Down,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6333,2022,34,NaN,22,Down,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6334,2022,34,NaN,23,Down,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6335,2022,34,NaN,24,Down,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Preprocessing the dataset

In [11]:
# remove all rows where hour is between 2-5 and between 7-24
rkom_2022_df = rkom_2022_df[~rkom_2022_df['Hour'].isin([2,3,4,5,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24])]
#change hour 1 to 1-5 and change hour 6 to 6-24
for hour in rkom_2022_df["Hour"]:
    if hour == 1:
        rkom_2022_df["Hour"] = rkom_2022_df["Hour"].replace(1, "1-5")
    elif hour == 6:
        rkom_2022_df["Hour"] = rkom_2022_df["Hour"].replace(6, "6-24")

In [12]:
rkom_2022_df

,Year,Week,Areas,Hour,Direction,RKOM-H Volume Weekday,RKOM-H Price Weekday,RKOM-H Volume Weekend,RKOM-H Price Weekend,RKOM-B Volume Weekday,RKOM-B Price Weekday,RKOM-B Volume Weekend,RKOM-B Price Weekend
0,2022,24,NO5,1-5,Up,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
5,2022,24,NO5,6-24,Up,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
24,2022,24,NO5,1-5,Down,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
29,2022,24,NO5,6-24,Down,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
48,2022,18,NO4,1-5,Up,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6269,2022,24,"NO1,NO2",6-24,Down,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
6288,2022,34,NaN,1-5,Up,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
6293,2022,34,NaN,6-24,Up,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
6312,2022,34,NaN,1-5,Down,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
6317,2022,34,NaN,6-24,Down,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN

### Functions to get wanted parts of the dataset

In [13]:
# function to remove all rows where an area is not present
def get_area_df(area : str, rkom_df : pd.DataFrame):
    """Function to filter out all rows where an area is not present

    Args:
        area (str): specify which area to use from [NO1, NO2, NO3, NO4, NO5]
        rkom_df (pd.DataFrame): Full dataframe

    Returns:
        pd.DataFrame: dataframe with only the specified area
    """
    area_df = rkom_df.copy()
    
    #remove all rows where the are is equal to nan
    area_df = area_df.drop(area_df["Areas"][area_df["Areas"].isna()].index)

    #remove all rows where an area is not present
    area_df = area_df.drop(area_df["Areas"][area_df["Areas"].str.contains(area) == False].index)        

    #Sort by week and then sort by hour within each week    
    area_df = area_df.sort_values(by=["Week", "Hour"] )
    return area_df

In [14]:
NO1_df = get_area_df("NO1", rkom_2022_df)

In [15]:
print("the weeks : ", NO1_df["Week"].unique())
print("number of weeks : ", len(NO1_df["Week"].unique()))

the weeks :  [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52]
number of weeks :  52

In [16]:
# check week 33
NO1_df[NO1_df["Week"] == 33]

,Year,Week,Areas,Hour,Direction,RKOM-H Volume Weekday,RKOM-H Price Weekday,RKOM-H Volume Weekend,RKOM-H Price Weekend,RKOM-B Volume Weekday,RKOM-B Price Weekday,RKOM-B Volume Weekend,RKOM-B Price Weekend
2448,2022,33,"NO1,NO5",1-5,Up,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
2472,2022,33,"NO1,NO5",1-5,Down,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
2453,2022,33,"NO1,NO5",6-24,Up,160.0,70.0,NaN,NaN,0.0,0.0,NaN,NaN
2477,2022,33,"NO1,NO5",6-24,Down,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN

In [17]:

def get_weekly_values(df : pd.DataFrame, area : str, week_num : int):
    """function to get a dataframe with the values for a specific area and week

    Args:
        df (pd.DataFrame): full dataframe
        area (str): specify which area to use from [NO1, NO2, NO3, NO4, NO5]
        week_num (int): which week to use

    Returns:
        pd.DataFrame: dataframe with the values for a specific area and week
    """
    
    # get the dataframe for the chosen area
    area_df = get_area_df(area, df)
    # if there are more than two areas where the chosen area is present, remove the rows where area = "NO1,NO2,NO3,NO4,NO5" and set nan values to zero and 
    
    if len(area_df[area_df["Week"] == week_num]) > 4:
        area_df = area_df.drop(area_df["Areas"][area_df["Areas"].str.contains("NO1,NO2,NO3,NO4,NO5")].index)
        area_df = area_df.fillna(0)
    else:
        area_df = area_df.fillna(0)
    
    return area_df[area_df["Week"] == week_num].reset_index(drop=True)

In [18]:
def get_hour_val_RKOM(df,year, month, day, hour, area):
    """function to get the value for a specific hour

    Args:
        df (pd.DataFrame): full dataframe
        area (str): specify which area to use from [NO1, NO2, NO3, NO4, NO5]
        week_num (int): which week to use
        hour (int): which hour to use

    Returns:
        float: value for the specific hour
    """
    time_of_day = '1-5' if hour <= 5 else '6-24'
    date = datetime(year, month, day)
    week_num = date.isocalendar()[1]

    hour_val = get_weekly_values(df, area, week_num)
    return hour_val[hour_val["Hour"] == time_of_day]

In [19]:
get_hour_val_RKOM(rkom_2022_df, 2022, 8, 15, 1, "NO1")

,Year,Week,Areas,Hour,Direction,RKOM-H Volume Weekday,RKOM-H Price Weekday,RKOM-H Volume Weekend,RKOM-H Price Weekend,RKOM-B Volume Weekday,RKOM-B Price Weekday,RKOM-B Volume Weekend,RKOM-B Price Weekend
0,2022,33,"NO1,NO5",1-5,Up,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022,33,"NO1,NO5",1-5,Down,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:

"""def get_weekly_area_dict(df : pd.DataFrame, area : str):
    # get the dataframe for the chosen area
    area_df = get_area_df(area, df)
    # if there are more than two areas where the chosen area is present, remove the rows where area = "NO1,NO2,NO3,NO4,NO5" and set nan values to zero and 
    for week_num in range(1, 53):
        if len(area_df[area_df["Week"] == week_num]) > 4:
            area_df = area_df.drop(area_df["Areas"][area_df["Areas"].str.contains("NO1,NO2,NO3,NO4,NO5")].index)
            area_df = area_df.fillna(0)
    # create a dictionary with the week number as key and the dataframe for that week as value
    weekly_area_dict = {week_num: area_df[area_df["Week"] == week_num] for week_num in area_df["Week"].unique()}
    return weekly_area_dict"""

In [ ]:
NO1_week_43 = get_weekly_values(df = rkom_2022_df, area= "NO1", week_num= 8)
NO1_week_43

In [ ]:
NO1_week_43["RKOM-H Volume Weekday"][NO1_week_43["Hour"] == "6-24"].iloc[0]

In [ ]:
rkom_2022_df

In [ ]:
def get_yearly_values_for_specific_market(df : pd.DataFrame, direction : str, quality : str, daytime : str, value : str, area : str, time_of_week : str, full_string = None):
    """Finds the yearly values for a specific RKOM market and retuns a list with the values for each week

    Args:
        df (pd.DataFrame): full dataframe
        direction (str): up or down
        quality (str): H or B
        daytime (str): 1-5 or 6-24
        value (str): Price or Volume
        area (str): NO1, NO2, NO3, NO4 or NO5
        time_of_week (str): Weekday or Weekend
        full_string (_type_, optional): If you got the complete column string. Defaults to None.

    Returns:
        list: all values for the specific market throughout the year
    """
    if full_string != None:
        column_string = full_string
    else:
        column_string = "RKOM-" + quality +" "+ value + " " + time_of_week
        
    yearly_values = []
    for week in df["Week"].unique():
        weekly_df = get_weekly_values(df, area, week)
        #append value where hour is equal to daytime input and where the direction is equal to the direction input
        if direction == "Up":
            wanted_val = weekly_df[column_string][weekly_df["Hour"] == daytime][0]
        else:
            wanted_val = weekly_df[column_string][weekly_df["Hour"] == daytime][1]
        yearly_values.append(wanted_val)
    
    plt.plot( [i for i in range(1,53)], yearly_values)
    plt.title(column_string + " " + direction + " in hours " + daytime + " for " + area)
    plt.show()
            
    return yearly_values

In [ ]:
rkom_up_day_h_vals = get_yearly_values_for_specific_market(df = rkom_2022_df, direction = "Up", daytime = "1-5", quality = "H", value = "Volume", area = "NO1", time_of_week = "Weekday")

In [ ]:
def get_yearly_average_prices(df : pd.DataFrame, chosen_area = "all"):
    
    #get average prices for each week
    
    average_df = pd.DataFrame(np.zeros((4,4)), columns=["Average RKOM-H Price Weekday [NOK/MW]", "Average RKOM-H Price Weekend [NOK/MW]", "Average RKOM-B Price Weekday [NOK/MWH]", "Average RKOM-B Price Weekend NOK/MW"], index=["Up, night", "Down, night", "Up, day", "Down, day"])
    # get weekly values into a dataframe
    """ stats_df = pd.DataFrame(np.zeros(40,52), index = range(1,53), columns = ["RKOM-H Up Weekday day price", "RKOM-H Up Weekday night price", 
                                                                                "RKOM-H Up Weekend day price", "RKOM-H Up Weekend night price", 
                                                                                "RKOM-H Down Weekday day price", "RKOM-H Down Weekday night price", 
                                                                                "RKOM-H Down Weekend day price", "RKOM-H Down Weekend night price", 
                                                                                "RKOM-B Up Weekday day price", "RKOM-B Up Weekday night price", 
                                                                                "RKOM-B Up Weekend day price", "RKOM-B Up Weekend night price", 
                                                                                "RKOM-B Down Weekday day price", "RKOM-B Down Weekday night price", 
                                                                                "RKOM-B Down Weekend day price", "RKOM-B Down Weekend night price",
                                                                                "RKOM-H Up Weekday day volume", "RKOM-H Up Weekday night volume",
                                                                                "RKOM-H Up Weekend day volume", "RKOM-H Up Weekend night volume",
                                                                                "RKOM-H Down Weekday day volume", "RKOM-H Down Weekday night volume",
                                                                                "RKOM-H Down Weekend day volume", "RKOM-H Down Weekend night volume",
                                                                                "RKOM-B Up Weekday day volume", "RKOM-B Up Weekday night volume",
                                                                                "RKOM-B Up Weekend day volume", "RKOM-B Up Weekend night volume",
                                                                                "RKOM-B Down Weekday day volume", "RKOM-B Down Weekday night volume",
                                                                                "RKOM-B Down Weekend day volume", "RKOM-B Down Weekend night volume",
                                                                                "night_prices", "day_prices", "weekend_prices", "weekday_prices",
                                                                                "up_prices", "down_prices", "h_prices", "b_prices"]) 
               
    
     for col in stats_df.columns[0:32]:
        stats_df[col] = get_yearly_values_for_specific_market(df, full_string=col) """        
    
    counter = 0
    
    if chosen_area == "all":
        areas = ["NO1", "NO2", "NO3", "NO4", "NO5"]
    else:
        areas = [chosen_area]
        
    for area in areas:
        for week in range(1, 53):
            weekly_df = get_weekly_values(df, area, week)
            weekly_df.reset_index(drop=True)
            counter += 1
            
            
            for i in range(4):
                if weekly_df["RKOM-H Volume Weekday"].iloc[i] != 0:
                    average_df["Average RKOM-H Price Weekday [NOK/MW]"].iloc[i] += weekly_df["RKOM-H Price Weekday"].iloc[i]
            
                if weekly_df["RKOM-H Volume Weekend"].iloc[i] != 0:
                    average_df["Average RKOM-H Price Weekend [NOK/MW]"].iloc[i] += weekly_df["RKOM-H Price Weekend"].iloc[i]

                if weekly_df["RKOM-B Volume Weekday"].iloc[i] != 0:
                    average_df["Average RKOM-B Price Weekday [NOK/MWH]"].iloc[i] += weekly_df["RKOM-B Price Weekday"].iloc[i]

                if weekly_df["RKOM-B Volume Weekend"].iloc[i] != 0:
                    average_df["Average RKOM-B Price Weekend NOK/MW"].iloc[i] += weekly_df["RKOM-B Price Weekend"].iloc[i]
                
                
    # change all the values in the average_df to the average price
    average_df = average_df/counter
    #print(counter)
    
        
    return average_df

In [ ]:

for area in ["NO1", "NO2", "NO3", "NO4", "NO5"]:
    av_mat = get_yearly_average_prices(rkom_2022_df, area)
    print("Average prices for : ", area)
    display(av_mat)

# FCR

In [3]:
fcr_d_1_df = pd.read_excel("/Users/sandermeland/Documents/Jobb/Volte/master-kode/markets/markets-data/new_fcrd1.xlsx")
fcr_d_2_df = pd.read_excel("/Users/sandermeland/Documents/Jobb/Volte/master-kode/markets/markets-data/new_fcrd2.xlsx")

In [9]:
fcr_d_1_df_2023 = pd.read_excel("/Users/sandermeland/Documents/Jobb/Volte/master-kode/markets/markets-data/FCR_D-1-2023.xlsx")
fcr_d_2_df_2023 = pd.read_excel("/Users/sandermeland/Documents/Jobb/Volte/master-kode/markets/markets-data/FCR_D-2-2023.xlsx")

In [ ]:
fcr_d_2_df

### Preprocess the dataset

In [ ]:
"""#Checking the values for FCR-D-1, looking for fcr-d actions
for i in range(len(fcr_d_1_df["FCR-D Volume MW"])):
    if fcr_d_1_df["FCR-D Volume MW"][i] > 0:
        print("time : ", fcr_d_1_df["Time(Local)"][i])
        print("Volume : ", fcr_d_1_df["FCR-D Volume MW"][i])
        #print("Price : ", fcr_d_1_df["FCR-D Price NOK/MW"][i])
        print("Price in EUR/MW : ", fcr_d_1_df["FCR-D Price EUR/MW"][i])
        print("\n")"""

FCR-D-1 har noen tilfeller av FCR-D-opp, mens FCR-D-2 markedet har ingen tilfeller av FCR-D

In [ ]:
print(type(fcr_d_1_df['Time(Local)'][0]))

print(fcr_d_1_df['Time(Local)'][0])

print(type(fcr_d_2_df['Time(Local)'][0]))

print(fcr_d_2_df['Time(Local)'][0])

In [4]:
def preprocess_FCR(df: pd.DataFrame):
    """ The datasets downloaded from Statnett is quite messy and needs some preprocessing. This function removes all the columns that has price in NOK/MW as they are only 0/NaN. It also fills all the NaN values in the columns Price EUR/MW with 0.

    Args:
        df (pd.DataFrame): The dataframe to be preprocessed

    Returns:
        df: preprocessed version of the input dataframe
    """
    # drop the columns that only includes nan values
    for col in df.columns:
        if "NOK" in col:
            df = df.drop(columns=[col])
    df["FCR-D Price EUR/MW"] = df["FCR-D Price EUR/MW"].fillna(0)
    df.drop(columns= 'Hournumber', inplace=True)
    date_format = '%d.%m.%Y %H:%M:%S %z'
    
    timezone = pytz.timezone("Europe/Oslo")    
    
    # Convert "Time(Local)" column to datetime objects
    df["Time(Local)"] = pd.to_datetime(df["Time(Local)"], format=date_format)
    
    
    return df

In [ ]:
fcr_d_1_df = preprocess_FCR(fcr_d_1_df)
fcr_d_2_df = preprocess_FCR(fcr_d_2_df)

In [11]:
fcr_d_1_df_2023 = preprocess_FCR(fcr_d_1_df_2023)
fcr_d_2_df_2023 = preprocess_FCR(fcr_d_2_df_2023)

In [6]:
fcr_d_1_df

,Time(Local),Area,FCR-N Price EUR/MW,FCR-N Volume MW,FCR-D Price EUR/MW,FCR-D Volume MW
0,2022-01-01 00:00:00+01:00,NO1,20.0,9,0.0,0
1,2022-01-01 00:00:00+01:00,NO2,20.0,16,0.0,0
2,2022-01-01 00:00:00+01:00,NO3,20.0,53,0.0,0
3,2022-01-01 00:00:00+01:00,NO4,20.0,36,0.0,0
4,2022-01-01 00:00:00+01:00,NO5,20.0,35,0.0,0
...,...,...,...,...,...,...
43502,2022-12-31 22:00:00+01:00,NO1,18.1,3,0.0,0
43503,2022-12-31 22:00:00+01:00,NO2,18.1,71,0.0,0
43504,2022-12-31 22:00:00+01:00,NO3,18.1,23,0.0,0
43505,2022-12-31 22:00:00+01:00,NO4,18.1,41,0.0,0
43506,2022-12-31 22:00:00+01:00,NO5,18.1,23,0.0,0

In [ ]:
fcr_d_1_df['Time(Local)'].loc[(fcr_d_1_df['Area'] == "NO2")].iloc[0]#.tzinfo

In [18]:
def check_missing_hours_in_series(df, area, year, month = 1, all_year = False):
    # Convert the Series to a DataFrame
    series = df['Time(Local)'].loc[(df['Area'] == area)]
   
    if all_year == True:
        # Generate expected hourly datetimes for the year 2022
        if year == 2022:
            start_datetime = datetime(2022, 1, 1, 0, 0, 0, tzinfo=series.iloc[0].tzinfo)
            end_datetime = datetime(2022, 12, 31, 23, 0, 0, tzinfo=series.iloc[0].tzinfo)
        elif year == 2023:
            start_datetime = datetime(2023, 1, 1, 0, 0, 0, tzinfo=series.iloc[0].tzinfo)
            end_datetime = datetime(2023, 7, 31, 23, 0, 0, tzinfo=series.iloc[0].tzinfo)
    else:   
        start_datetime = datetime(2022, month, 1, 0, 0, 0, tzinfo=series.iloc[0].tzinfo)
        if month in [1, 3, 5, 7, 8, 10, 12]:
            last_day = 31
        elif month == 2:
            last_day = 28
        else:
            last_day = 30
            
        end_datetime = datetime(2022, month, last_day, 23, 0, 0, tzinfo=series.iloc[0].tzinfo)
    
    
    expected_hours = pd.date_range(start=start_datetime, end=end_datetime, freq='H')
    # Find missing hours by comparing with the DataFrame
    missing_hours = expected_hours[~expected_hours.isin(series)]

    return missing_hours

In [8]:
d_1_m_h = []
for area in ['NO1', 'NO2', 'NO3', 'NO4', 'NO5']:
    m_h = check_missing_hours_in_series(fcr_d_1_df, area, all_year = True)
    #print("Missing hours in the d-1 df: ", m_h)
    print("Total missing hours in the d-1 df in area ", area, " : ", len(m_h))

    d_2_missing_hours = check_missing_hours_in_series(fcr_d_2_df, area, all_year= True)
    #print("Missing hours in the d-2 df: ", d_2_missing_hours)
    print("Total missing hours in the d-2 df in area ", area, " : ", len(d_2_missing_hours))

Total missing hours in the d-1 df in area  NO1  :  190
Total missing hours in the d-2 df in area  NO1  :  76
Total missing hours in the d-1 df in area  NO2  :  25
Total missing hours in the d-2 df in area  NO2  :  86
Total missing hours in the d-1 df in area  NO3  :  25
Total missing hours in the d-2 df in area  NO3  :  56
Total missing hours in the d-1 df in area  NO4  :  25
Total missing hours in the d-2 df in area  NO4  :  1830
Total missing hours in the d-1 df in area  NO5  :  28
Total missing hours in the d-2 df in area  NO5  :  25

In [20]:
d_1_m_h = []
for area in ['NO1', 'NO2', 'NO3', 'NO4', 'NO5']:
    m_h = check_missing_hours_in_series(fcr_d_1_df_2023, area,  year = 2023, all_year = True)
    print("Missing hours in the d-1 df in area  ", area, " : ", m_h)
    print("Total missing hours in the d-1 df in area ", area, " : ", len(m_h))

    d_2_missing_hours = check_missing_hours_in_series(fcr_d_2_df_2023, area, year = 2023, all_year= True)
    print("Missing hours in the d-2 df in area ", area, " : ", d_2_missing_hours)
    print("Total missing hours in the d-2 df in area ", area, " : ", len(d_2_missing_hours))

Missing hours in the d-1 df in area   NO1  :  DatetimeIndex(['2023-01-29 20:00:00+01:00', '2023-02-19 14:00:00+01:00',
               '2023-02-19 15:00:00+01:00', '2023-02-23 02:00:00+01:00',
               '2023-02-23 03:00:00+01:00', '2023-02-23 04:00:00+01:00',
               '2023-02-23 05:00:00+01:00', '2023-02-23 06:00:00+01:00',
               '2023-02-26 00:00:00+01:00', '2023-02-26 01:00:00+01:00',
               '2023-02-26 02:00:00+01:00', '2023-02-26 03:00:00+01:00',
               '2023-02-26 04:00:00+01:00', '2023-02-26 05:00:00+01:00',
               '2023-02-26 07:00:00+01:00', '2023-02-26 08:00:00+01:00',
               '2023-02-26 09:00:00+01:00', '2023-02-26 11:00:00+01:00',
               '2023-02-26 13:00:00+01:00', '2023-02-26 14:00:00+01:00',
               '2023-02-26 15:00:00+01:00', '2023-02-26 18:00:00+01:00',
               '2023-02-26 19:00:00+01:00', '2023-02-26 21:00:00+01:00',
               '2023-03-23 18:00:00+01:00', '2023-04-14 14:00:00+01:00'],
              dtype='datetime64[ns, pytz.FixedOffset(60)]', freq=None)
Total missing hours in the d-1 df in area  NO1  :  26
Missing hours in the d-2 df in area  NO1  :  DatetimeIndex(['2023-05-18 06:00:00+01:00', '2023-05-18 07:00:00+01:00',
               '2023-05-18 08:00:00+01:00', '2023-05-18 09:00:00+01:00',
               '2023-05-18 10:00:00+01:00', '2023-05-18 11:00:00+01:00',
               '2023-05-18 12:00:00+01:00', '2023-05-18 13:00:00+01:00',
               '2023-05-18 14:00:00+01:00', '2023-05-18 15:00:00+01:00',
               ...
               '2023-05-31 13:00:00+01:00', '2023-05-31 14:00:00+01:00',
               '2023-05-31 15:00:00+01:00', '2023-05-31 16:00:00+01:00',
               '2023-05-31 17:00:00+01:00', '2023-05-31 18:00:00+01:00',
               '2023-05-31 19:00:00+01:00', '2023-05-31 20:00:00+01:00',
               '2023-05-31 21:00:00+01:00', '2023-05-31 22:00:00+01:00'],
              dtype='datetime64[ns, pytz.FixedOffset(60)]', length=190, freq=None)
Total missing hours in the d-2 df in area  NO1  :  190
Missing hours in the d-1 df in area   NO2  :  DatetimeIndex([], dtype='datetime64[ns, pytz.FixedOffset(60)]', freq='H')
Total missing hours in the d-1 df in area  NO2  :  0
Missing hours in the d-2 df in area  NO2  :  DatetimeIndex(['2023-06-25 15:00:00+01:00', '2023-06-27 14:00:00+01:00',
               '2023-06-29 15:00:00+01:00', '2023-07-04 10:00:00+01:00',
               '2023-07-04 15:00:00+01:00', '2023-07-09 10:00:00+01:00',
               '2023-07-09 15:00:00+01:00', '2023-07-15 08:00:00+01:00',
               '2023-07-15 17:00:00+01:00'],
              dtype='datetime64[ns, pytz.FixedOffset(60)]', freq=None)
Total missing hours in the d-2 df in area  NO2  :  9
Missing hours in the d-1 df in area   NO3  :  DatetimeIndex([], dtype='datetime64[ns, pytz.FixedOffset(60)]', freq='H')
Total missing hours in the d-1 df in area  NO3  :  0
Missing hours in the d-2 df in area  NO3  :  DatetimeIndex(['2023-01-21 00:00:00+01:00', '2023-02-08 07:00:00+01:00',
               '2023-02-08 08:00:00+01:00', '2023-02-08 09:00:00+01:00',
               '2023-02-08 10:00:00+01:00', '2023-02-08 11:00:00+01:00',
               '2023-02-24 14:00:00+01:00', '2023-02-24 15:00:00+01:00',
               '2023-02-24 16:00:00+01:00', '2023-02-24 17:00:00+01:00',
               ...
               '2023-05-25 08:00:00+01:00', '2023-05-25 09:00:00+01:00',
               '2023-05-25 17:00:00+01:00', '2023-05-25 18:00:00+01:00',
               '2023-05-25 19:00:00+01:00', '2023-05-25 20:00:00+01:00',
               '2023-05-25 21:00:00+01:00', '2023-06-06 12:00:00+01:00',
               '2023-06-06 18:00:00+01:00', '2023-06-06 19:00:00+01:00'],
              dtype='datetime64[ns, pytz.FixedOffset(60)]', length=181, freq=None)
Total missing hours in the d-2 df in area  NO3  :  181
Missing hours in the d-1 df in area   NO4  :  DatetimeIndex([], dtype='datetime64[ns, pytz.FixedOffset(60)]', freq='H')
Total missing hours in the d-1 df in area  NO4  :  0
Missing hours in the d-2 df in area  NO4  :  DatetimeIndex(['2023-01-01 00:00:00+01:00', '2023-01-01 01:00:00+01:00',
               '2023-01-01 02:00:00+01:00', '2023-01-01 03:00:00+01:00',
               '2023-01-01 04:00:00+01:00', '2023-01-01 05:00:00+01:00',
               '2023-01-01 06:00:00+01:00', '2023-01-01 07:00:00+01:00',
               '2023-01-02 00:00:00+01:00', '2023-01-02 06:00:00+01:00',
               ...
               '2023-07-30 08:00:00+01:00', '2023-07-30 09:00:00+01:00',
               '2023-07-30 10:00:00+01:00', '2023-07-30 11:00:00+01:00',
               '2023-07-30 12:00:00+01:00', '2023-07-30 13:00:00+01:00',
               '2023-07-30 14:00:00+01:00', '2023-07-30 15:00:00+01:00',
               '2023-07-30 16:00:00+01:00', '2023-07-30 17:00:00+01:00'],
              dtype='datetime64[ns, pytz.FixedOffset(60)]', length=2187, freq=None)
Total missing hours in the d-2 df in area  NO4  :  2187
Missing hours in the d-1 df in area   NO5  :  DatetimeIndex([], dtype='datetime64[ns, pytz.FixedOffset(60)]', freq='H')
Total missing hours in the d-1 df in area  NO5  :  0
Missing hours in the d-2 df in area  NO5  :  DatetimeIndex([], dtype='datetime64[ns, pytz.FixedOffset(60)]', freq='H')
Total missing hours in the d-2 df in area  NO5  :  0

In [ ]:
def get_daily_values(df, area, day, month):
     
     # Generate expected hourly datetimes for the year 2022
     start_datetime = datetime(2022, month, day, 0, 0, 0, tzinfo=df['Time(Local)'][0].tzinfo)
     end_datetime = datetime(2022, month, day, 23, 0, 0, tzinfo=df['Time(Local)'][0].tzinfo)
     return df.loc[(df['Area'] == area) & (df['Time(Local)'] >= start_datetime) & (df['Time(Local)'] <= end_datetime)]

In [ ]:
get_daily_values(fcr_d_1_df, "NO1", 7, 1)

In [ ]:
def insert_missing_hours(df : pd.DataFrame):
    
    # FCR D-2 NO2
    """new_row_no2_1 = {'Time(Local)': datetime(2022, 08, 19, 23, 0, 0), 'area' : 'NO2', 'Hournumber' : 23, 'FCR-D Price EUR/MW': 0, 'FCR-D Volume MW': 0, 'FCR-N Price EUR/MW': 16, 'FCR-N Volume MW': }
    new_row_no2_2 = {'Time(Local)': datetime(2022, 08, 20, 0, 0, 0), 'area' : 'NO2', 'Hournumber' : 1, 'FCR-D Price EUR/MW': 0, 'FCR-D Volume MW': 0, 'FCR-N Price EUR/MW': 22.7, 'FCR-N Volume MW': }
    new_row_no2_2 = {'Time(Local)': datetime(2022, 08, 20, 1, 0, 0), 'area' : 'NO2', 'Hournumber' : 2, 'FCR-D Price EUR/MW': 0, 'FCR-D Volume MW': 0, 'FCR-N Price EUR/MW': 22.7, 'FCR-N Volume MW': }
    new_row_no2_2 = {'Time(Local)': datetime(2022, 08, 20, 0, 0, 0), 'area' : 'NO2', 'Hournumber' : 3, 'FCR-D Price EUR/MW': 0, 'FCR-D Volume MW': 0, 'FCR-N Price EUR/MW': 21.1, 'FCR-N Volume MW': }
    new_row_no2_2 = {'Time(Local)': datetime(2022, 08, 20, 0, 0, 0), 'area' : 'NO2', 'Hournumber' : 4, 'FCR-D Price EUR/MW': 0, 'FCR-D Volume MW': 0, 'FCR-N Price EUR/MW': 22.7, 'FCR-N Volume MW': }
    new_row_no2_2 = {'Time(Local)': datetime(2022, 08, 20, 0, 0, 0), 'area' : 'NO2', 'Hournumber' : 1, 'FCR-D Price EUR/MW': 0, 'FCR-D Volume MW': 0, 'FCR-N Price EUR/MW': 22.7, 'FCR-N Volume MW': }
    new_row_no2_2 = {'Time(Local)': datetime(2022, 08, 20, 0, 0, 0), 'area' : 'NO2', 'Hournumber' : 1, 'FCR-D Price EUR/MW': 0, 'FCR-D Volume MW': 0, 'FCR-N Price EUR/MW': 22.7, 'FCR-N Volume MW': }
    new_row_no2_2 = {'Time(Local)': datetime(2022, 08, 20, 0, 0, 0), 'area' : 'NO2', 'Hournumber' : 1, 'FCR-D Price EUR/MW': 0, 'FCR-D Volume MW': 0, 'FCR-N Price EUR/MW': 22.7, 'FCR-N Volume MW': }
    new_row_no2_2 = {'Time(Local)': datetime(2022, 08, 20, 0, 0, 0), 'area' : 'NO2', 'Hournumber' : 1, 'FCR-D Price EUR/MW': 0, 'FCR-D Volume MW': 0, 'FCR-N Price EUR/MW': 22.7, 'FCR-N Volume MW': }
    new_row_no2_2 = {'Time(Local)': datetime(2022, 08, 20, 0, 0, 0), 'area' : 'NO2', 'Hournumber' : 1, 'FCR-D Price EUR/MW': 0, 'FCR-D Volume MW': 0, 'FCR-N Price EUR/MW': 22.7, 'FCR-N Volume MW': }
    new_row_no2_2 = {'Time(Local)': datetime(2022, 08, 20, 0, 0, 0), 'area' : 'NO2', 'Hournumber' : 1, 'FCR-D Price EUR/MW': 0, 'FCR-D Volume MW': 0, 'FCR-N Price EUR/MW': 22.7, 'FCR-N Volume MW': }
    new_row_no2_2 = {'Time(Local)': datetime(2022, 08, 20, 0, 0, 0), 'area' : 'NO2', 'Hournumber' : 1, 'FCR-D Price EUR/MW': 0, 'FCR-D Volume MW': 0, 'FCR-N Price EUR/MW': 22.7, 'FCR-N Volume MW': }
    new_row_no2_2 = {'Time(Local)': datetime(2022, 08, 20, 0, 0, 0), 'area' : 'NO2', 'Hournumber' : 1, 'FCR-D Price EUR/MW': 0, 'FCR-D Volume MW': 0, 'FCR-N Price EUR/MW': 22.7, 'FCR-N Volume MW': }
    new_row_no2_2 = {'Time(Local)': datetime(2022, 08, 20, 0, 0, 0), 'area' : 'NO2', 'Hournumber' : 1, 'FCR-D Price EUR/MW': 0, 'FCR-D Volume MW': 0, 'FCR-N Price EUR/MW': 22.7, 'FCR-N Volume MW': }
    new_row_no2_2 = {'Time(Local)': datetime(2022, 08, 20, 0, 0, 0), 'area' : 'NO2', 'Hournumber' : 1, 'FCR-D Price EUR/MW': 0, 'FCR-D Volume MW': 0, 'FCR-N Price EUR/MW': 22.7, 'FCR-N Volume MW': }
    new_row_no2_2 = {'Time(Local)': datetime(2022, 08, 20, 0, 0, 0), 'area' : 'NO2', 'Hournumber' : 1, 'FCR-D Price EUR/MW': 0, 'FCR-D Volume MW': 0, 'FCR-N Price EUR/MW': 22.7, 'FCR-N Volume MW': }
    new_row_no2_2 = {'Time(Local)': datetime(2022, 08, 20, 0, 0, 0), 'area' : 'NO2', 'Hournumber' : 1, 'FCR-D Price EUR/MW': 0, 'FCR-D Volume MW': 0, 'FCR-N Price EUR/MW': 22.7, 'FCR-N Volume MW': }
    new_row_no2_2 = {'Time(Local)': datetime(2022, 08, 20, 0, 0, 0), 'area' : 'NO2', 'Hournumber' : 1, 'FCR-D Price EUR/MW': 0, 'FCR-D Volume MW': 0, 'FCR-N Price EUR/MW': 22.7, 'FCR-N Volume MW': }
    new_row_no2_2 = {'Time(Local)': datetime(2022, 08, 20, 0, 0, 0), 'area' : 'NO2', 'Hournumber' : 1, 'FCR-D Price EUR/MW': 0, 'FCR-D Volume MW': 0, 'FCR-N Price EUR/MW': 22.7, 'FCR-N Volume MW': }"""

In [ ]:
def get_market_dict(df: pd.DataFrame):
    """ Function to create a dictionary with the different markets as keys and the dataframe for that market as values

    Args:
        df (pd.DataFrame): The original dataframe with all the markets downloaded from Statnett

    Returns:
        dict: dictionary with the different markets as keys and the dataframe for that market as values
    """
    
    area_dict = {}
    for area in df["Area"].unique():
        #preprocessed_df = preprocess_FCR(df)
        area_df = df.drop(df["Area"][df["Area"].str.contains(area) == False].index) 
        area_dict[area] = area_df
        
    return area_dict

In [ ]:
def get_monthly_fcr_df(df : pd.DataFrame, area : str, month : int):
    """ function to filter the data by area and month

    Args:
        df (pd.DataFrame): dataframe to filter - should be for one given market in one specific year
        area (str): wanted area - chosen from [NO1, NO2, NO3, NO4, NO5]
        month (int): wanted month - chosen from [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
    """
    date_format = '%Y-%m-%d %H:%M:%S%z'
    
    timezone = pytz.timezone("Europe/Oslo")    
    start_datetime = timezone.localize(datetime(2022, month, 1, 0, 0, 0))
    if month in [1, 3, 5, 7, 8, 10, 12]:
        last_day = 31
    elif month == 2:
        last_day = 28
    else:
        last_day = 30
        
    end_datetime = datetime(2022, month, last_day, 23, 0, 0, tzinfo=timezone)
    
    # Convert "Time(Local)" column to datetime objects - this should have been done before
   # df["Time(Local)"] = pd.to_datetime(df["Time(Local)"], format=date_format)
    
    # Filter based on date range
    filtered_df = df[(df["Time(Local)"] >= start_datetime) & (df["Time(Local)"] <= end_datetime)]
    
    # Filter by area
    monthly_area_df = filtered_df[filtered_df["Area"] == area]
    
    # Sort by "Time(Local)" column
    monthly_area_df = monthly_area_df.sort_values(by="Time(Local)").reset_index(drop=True)
    
    return monthly_area_df

In [ ]:
get_monthly_fcr_df(fcr_d_1_df, "NO1", 1)

In [ ]:
def find_month_without_missing_vals(df):
    full_months = {}
    for area in ['NO1', 'NO2', 'NO3', 'NO4', 'NO5']:
        #print("Area : ", area)
        full_h_list = []
        for month in range(1,13):
            #print("Month : ", month)
            missing_hours = check_missing_hours_in_series(df=df, area=area, month=month)
            #print("Missing hours : ", missing_hours)
            if len(missing_hours) == 0:
                full_h_list.append(month)
                full_months[area] = full_h_list
    
    return full_months

In [ ]:
fcr_d_1_df

In [ ]:
fcr_d_2_df

In [ ]:
def find_month_with_missing_vals(df):
    full_months = pd.DataFrame(np.zeros((1830, 5)), columns= ['NO1', 'NO2', 'NO3', 'NO4', 'NO5'])
    for area in ['NO1', 'NO2', 'NO3', 'NO4', 'NO5']:
        #print("Area : ", area)        
        missing_hours = check_missing_hours_in_series(df=df, area=area, all_year= True)
        print(len(missing_hours))
        #print(missing_hours)
        if len(missing_hours) > 0:
            full_months[area][0:len(missing_hours)] = missing_hours
    
    return full_months

In [ ]:
missing_f_1_dict = find_month_with_missing_vals(fcr_d_1_df)
missing_f_2_dict = find_month_with_missing_vals(fcr_d_2_df)

In [ ]:
missing_f_2_dict

In [ ]:
#missing_f_1_dict.to_csv('missing_hours_in_fcr_d1.csv', sep= ';')
#missing_f_2_dict.to_csv('missing_hours_in_fcr_d2.csv', sep = ';')

In [ ]:
FCR_d_1_dict = get_market_dict(fcr_d_1_df )
FCR_d_2_dict = get_market_dict(fcr_d_2_df )

In [ ]:
def get_plots(market_dict : dict):
    """ plots the different prices and volumes for each market and for each area in seperate plots

    Args:
        market_dict (dict): dictionary with the different markets as keys and the dataframe for that market as values
    """
    for key in market_dict.keys():
        columns = market_dict[key].columns[3:]
        #print(columns)
        #make subplot for each area
        fig, axs = plt.subplots(2,2)
        axs[0,0].plot(market_dict[key]["Time(Local)"].values, market_dict[key][columns[3]].values)
        axs[0,0].set_title(str(columns[3]) + " for " + str(key))
        axs[0,1].plot(market_dict[key]["Time(Local)"].values, market_dict[key][columns[4]].values)
        axs[0,1].set_title(str(columns[4]) + " for " + str(key))
        axs[1,0].plot(market_dict[key]["Time(Local)"].values, market_dict[key][columns[5]].values)
        axs[1,0].set_title(str(columns[5]) + " for " + str(key))
        axs[1,1].plot(market_dict[key]["Time(Local)"].values, market_dict[key][columns[6]].values)
        axs[1,1].set_title(str(columns[6]) + " for " + str(key))
        
        fig.tight_layout()

In [ ]:
def get_combined_plots(market_dict : dict, chosen_area = None, type = "FCR"):
    """plots the different prices and volumes for each market and for the given area in the same plot

    Args:
        market_dict (dict): dictionary with the different markets as keys and the dataframe for that market as values
    """
    
    
    if chosen_area == None:
        for area in market_dict.keys():
            time_vals = market_dict[area]["Time(Local)"].values
            columns = [col for col in market_dict[area].columns[3:] if type in col]
            for col in columns:
                plt.plot(time_vals, market_dict[area][col].values, label = col + " for " + str(area))
                plt.legend()
        plt.show()
                
    else:
        columns = [col for col in market_dict[chosen_area].columns[3:] if type in col]
        time_vals = market_dict[chosen_area]["Time(Local)"].values
        for col in columns:
            plt.plot(time_vals, market_dict[chosen_area][col].values, label = col + " for " + str(chosen_area))
            plt.legend()
        plt.show()

In [ ]:
get_combined_plots(FCR_d_1_dict, type = "FCR-N Volume")

In [ ]:
get_combined_plots(FCR_d_1_dict, chosen_area= "NO2", type = "FCR-N Volume")

In [ ]:

def get_yearly_average_prices(market_dict : dict):
    counter = 0
    average_df = pd.DataFrame(np.zeros((5,4)), columns= ["FCR-D Price [EUR/MW]","FCR-D Volume [MW]","FCR-N Price [EUR/MW]","FCR-N Volume [MW]"], index= market_dict.keys() )

    for key in market_dict.keys():
        area_df = market_dict[key]
        average_df["FCR-D Price [EUR/MW]"][counter] = area_df["FCR-D Price EUR/MW"].values.mean() 
        average_df["FCR-D Volume [MW]"][counter] = area_df["FCR-D Volume MW"].values.mean()
        average_df["FCR-N Price [EUR/MW]"][counter] = area_df["FCR-N Price EUR/MW"].values.mean()
        average_df["FCR-N Volume [MW]"][counter] = area_df["FCR-N Volume MW"].values.mean()
        counter += 1
    return average_df

In [ ]:
"""for (index, val) in enumerate(FCR_d_1_dict["NO2"]["FCR-D Volume MW"].values):
    if val > 0:
        print(index, val)"""

In [ ]:
D_1_av_prices = get_yearly_average_prices(FCR_d_1_dict)
D_2_av_prices = get_yearly_average_prices(FCR_d_2_dict)

In [ ]:
print("Dataframe for average values in the FCR D-1 market")

display(D_1_av_prices)

print("\nDataframe for average values in the FCR D-2 market")

display(D_2_av_prices)

In [ ]:
def number_to_month_name(month_number):
    if 1 <= month_number <= 12:
        return calendar.month_name[month_number]
    else:
        return "Invalid month number"

In [ ]:
def get_monthly_average_values(df_dict):
    
    mean_val_dict = {}
    col_list = list(calendar.month_name)[1:]
    col_list.append('Year')
    area_list = ['NO1', 'NO2', 'NO3', 'NO4', 'NO5', 'Total']
    for market in df_dict.keys():
        market_df = df_dict[market]
        mean_df = pd.DataFrame(np.zeros((6, 13)), columns = col_list, index = area_list)
        for area in area_list:
            for month_num in range(1, 14):
                if month_num < 13:
                    if area in area_list[:5]:
                        monthly_df = get_monthly_df(month = month_num, df= market_df, area = area)
                        if "price" in market:
                            mean_df[number_to_month_name(month_num)][area] = monthly_df["FCR-N Price EUR/MW"].values.mean()
                        else:
                            mean_df[number_to_month_name(month_num)][area] = monthly_df["FCR-N Volume MW"].values.mean()
                    else:
                        mean_df[number_to_month_name(month_num)][area] = mean_df[number_to_month_name(month_num)][:5].values.mean()
                else:
                    mean_df['Year'][area] = mean_df.loc[area][:12].values.mean()

        mean_val_dict[market] = mean_df
    return mean_val_dict

In [ ]:
"""ArithmeticErrordf = {"D-1 FCR-N average price [EUR/MW]" : fcr_d_1_df, "D-2 FCR-N average price [EUR/MW]" : fcr_d_2_df, "D-1 FCR-N average volume [MW]" : fcr_d_1_df, "D-2 FCR-N average volume [MW]" : fcr_d_2_df}
monthly_mean_dict  = get_monthly_average_values(df)"""

In [ ]:
"""for key in df.keys():
    print(key)
    display(monthly_mean_dict[key])"""

In [ ]:
"""x_vals = df_dict[key].loc[df_dict[key].index == row].columns[:13]
        y_vals = monthly_mean_dict[key].columns[:13]"""
        
"""
        fig = px.line(monthly_mean_dict[key], x = "NO1", y = monthly_mean_dict[key])
fig.update_layout(title=f"monthly values for {key}")

"""

In [ ]:
import plotly.express as px
import plotly.graph_objects as go

In [ ]:

def create_line_plot(df_dict, monthly_mean_dict):
    for key in df_dict.keys():
        
        """# make a plot using plotly express where the x values are the dates and the y values are the NO2 values

        months = monthly_mean_dict[key].columns[:12].values
        areas = monthly_mean_dict[key].index[:5].values
        print(months)
        print(areas)
        
        print([monthly_mean_dict[key].loc[a].values[:12] for a in areas])
        fig = px.line(monthly_mean_dict[key], x= months, y= [monthly_mean_dict[key].loc[a].values[:12] for a in areas], title = key)"""
        df = monthly_mean_dict[key]
        transposed_df = df.transpose()
        transposed_df = transposed_df.reset_index()
        
        transposed_df.rename(columns={"index": "Month"}, inplace=True)
        display(transposed_df)
        if len(transposed_df) > 13:
            transposed_df.drop(index = range(12, 19), inplace=True)
        else:
            transposed_df.drop(index = 12, inplace=True)
        #display(transposed_df)
        
        # Melt the transposed DataFrame to reshape it for the line plot
        """melted_df = transposed_df.melt(id_vars=["Month"], var_name="Variable", value_name="Value")
        display(melted_df)"""
        
        # Create a line plot using Plotly Express
        fig = px.line(transposed_df, x="Month", y= transposed_df.columns[1:6].values, title= key)
        fig.show()

In [ ]:
#create_line_plot(df_dict=df, monthly_mean_dict= monthly_mean_dict)

In [ ]:
# Function for finding the prices for a given day
def get_daily_values(df : pd.DataFrame, area : str, day : int, month : int):
    """ function to filter the data by area and day

    Args:
        df (pd.DataFrame): dataframe to filter - should be for one given market in one specific year
        area (str): wanted area - chosen from [NO1, NO2, NO3, NO4, NO5]
        month (int): wanted month - chosen from [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
    """
    date_format = '%Y-%m-%d %H:%M:%S%z'
    
    timezone = pytz.timezone("Europe/Oslo")    
    start_datetime = timezone.localize(datetime(2022, month, day, 0, 0, 0))
    
   
    end_datetime = datetime(2022, month, day, 23, 0, 0, tzinfo=timezone)
    
    
    # Filter based on date range
    filtered_df = df[(df["Time(Local)"] >= start_datetime) & (df["Time(Local)"] <= end_datetime)]
    
    # Filter by area
    monthly_area_df = filtered_df[filtered_df["Area"] == area]
    
    # Sort by "Time(Local)" column
    monthly_area_df = monthly_area_df.sort_values(by="Time(Local)").reset_index(drop=True)
    
    return monthly_area_df

In [ ]:
get_daily_values(fcr_d_1_df, "NO1", 19, 8)

In [ ]:
fcr_d_1_df.keys()[3:]

In [ ]:
#pd.DataFrame(np.zeros((24, 4)), columns = fcr_d_1_df.keys()[3:], index = range(24))

In [ ]:
fcr_d_1_df["Time(Local)"][11905]

In [ ]:
def get_FCR_hour_val(df, year, month, day, hour):
    return df.loc[(df["Time(Local)"] == pd.Timestamp(f'{year}-{month:02d}-{day:02d} {hour:02d}:00:00', tz = 'UTC'))]

In [ ]:
get_FCR_hour_val(fcr_d_1_df, 2022, 8, 14, 0)

In [ ]:
# make a function that can plot the average price for each hour of the day for a year 
def get_hourly_average_values(df : dict, reserve_type  : str):
      
      if reserve_type == "FCR":
            return df.groupby(["Hournumber", "Area"]).agg({ "FCR-N Volume MW": "mean", "FCR-N Price EUR/MW": "mean"}).reset_index()
      if reserve_type == "RKOM":
            return df.groupby(["Hournumber", "Area"]).agg({ "RKOM-H Volume Weekday": "mean", "RKOM-H Price Weekday": "mean", "RKOM-H Volume Weekend": "mean", "RKOM-H Price Weekend": "mean", "RKOM-B Volume Weekday": "mean", "RKOM-B Price Weekday": "mean", "RKOM-B Volume Weekend": "mean", "RKOM-B Price Weekend": "mean"}).reset_index()
      if reserve_type == "RK":
            return df.groupby(["start_time", "delivery_area"]).agg({ "price_up": "mean", "price_down": "mean", "volume_up" : "mean", "volume_down" : "mean"}).reset_index()

In [ ]:
#fcr_1_hourly_av = get_hourly_average_values(fcr_d_1_df, "FCR")

In [ ]:
def plot_FCR_daily_variations(df):
    figure, axis = plt.subplots(2,5, figsize=(20,10))
    # add a title to the figure
    figure.suptitle("Daily variations in FCR-N price and volume for each area. Every value is the average for that hour of the day for the whole year")
    
    x_counter = -1
    
    for market in df.columns[2:]:
        y_counter = -1
        x_counter += 1
        for area in ["NO1", "NO2", "NO3", "NO4", "NO5"]:
            y_counter += 1
            axis[x_counter,y_counter].plot(df[market].loc[df["Area"] == area].values)
            axis[x_counter,y_counter].set_title(market + " for " + area)

    plt.show()

In [ ]:
#plot_FCR_daily_variations(fcr_1_hourly_av)

# RK

In [66]:
# download the rk csvs as dataframes
rk_price_down = pd.read_csv("markets-data/rk/new_rk_price_down.csv")
rk_price_up = pd.read_csv("markets-data/rk/new_rk_price_up.csv")
rk_volume_up = pd.read_csv("markets-data/rk/new_rk_vol_up.csv")
rk_volume_down = pd.read_csv("markets-data/rk/new_rk_vol_down.csv")

rk_price_down.drop(columns = ["currency"], inplace=True)
rk_price_up.drop(columns = ["currency"], inplace=True)
"""rk_volume_up.drop(columns = ["bi_created"], inplace=True)
rk_volume_down.drop(columns = ["bi_created"], inplace=True)"""

'rk_volume_up.drop(columns = ["bi_created"], inplace=True)\nrk_volume_down.drop(columns = ["bi_created"], inplace=True)'

In [67]:
display(rk_volume_down)

                     start_time  value delivery_area
0      2022-01-01T00:00:00.000Z    0.0           NO1
1      2022-01-01T00:00:00.000Z  -93.3           NO2
2      2022-01-01T00:00:00.000Z    0.0           NO3
3      2022-01-01T00:00:00.000Z    0.0           NO4
4      2022-01-01T00:00:00.000Z -101.9           NO5
...                         ...    ...           ...
77597  2023-10-20T05:00:00.000Z    0.0           NO1
77598  2023-10-20T05:00:00.000Z    0.0           NO2
77599  2023-10-20T05:00:00.000Z    0.0           NO3
77600  2023-10-20T05:00:00.000Z    0.0           NO4
77601  2023-10-20T05:00:00.000Z    0.0           NO5

[77602 rows x 3 columns]

In [68]:
print(rk_volume_down["start_time"].iloc[0])
print(type(rk_volume_down["start_time"].iloc[0]))
#print(rk_volume_down["start_time"].iloc[0].tzinfo)
print(len(rk_volume_down))

2022-01-01T00:00:00.000Z
<class 'str'>
77602

In [69]:
#NO1, volume up
"""vol_up_row_1 = {"end_time" : np.datetime64('2022-06-23T06', 'h'), 
         "start_time" : np.datetime64('2022-06-23T05', 'h'),
         "value" : 0, "delivery_area" : 'NO1', "start_year " : 2022.0}

vol_up_row_2 = {"end_time" : np.datetime64('2022-06-23T07', 'h'), 
         "start_time" : np.datetime64('2022-06-23T06', 'h'),
         "value" : 0, "delivery_area" : 'NO1', "start_year " : 2022.0}

vol_up_row_3 = {"end_time" : np.datetime64('2022-11-17T00', 'h'), 
         "start_time" : np.datetime64('2022-11-16T23', 'h'),
         "value" : 0, "delivery_area" : 'NO1', "start_year " : 2022.0}
vol_up_row_4= {"end_time" : np.datetime64('2022-11-17T01', 'h'), 
         "start_time" : np.datetime64('2022-11-17T00', 'h'),
         "value" : 0, "delivery_area" : 'NO1', "start_year " : 2022.0}

#NO2, volume up
vol_up_row_11 = {"end_time" : np.datetime64('2022-06-23T06', 'h'), 
         "start_time" : np.datetime64('2022-06-23T05', 'h'),
         "value" : 0, "delivery_area" : 'NO2', "start_year " : 2022.0}

vol_up_row_12 = {"end_time" : np.datetime64('2022-06-23T07', 'h'), 
         "start_time" : np.datetime64('2022-06-23T06', 'h'),
         "value" : 0, "delivery_area" : 'NO2', "start_year " : 2022.0}
vol_up_row_13= {"end_time" : np.datetime64('2022-11-17T01', 'h'), 
         "start_time" : np.datetime64('2022-11-17T00', 'h'),
         "value" : 0, "delivery_area" : 'NO2', "start_year " : 2022.0}

#NO3, volume up
vol_up_row_24= {"end_time" : np.datetime64('2022-11-17T01', 'h'), 
         "start_time" : np.datetime64('2022-11-17T00', 'h'),
         "value" : 156, "delivery_area" : 'NO3', "start_year " : 2022.0}

#NO4, volume up
vol_up_row_31 = {"end_time" : np.datetime64('2022-11-17T00', 'h'), 
         "start_time" : np.datetime64('2022-11-16T23', 'h'),
         "value" : 0, "delivery_area" : 'NO4', "start_year " : 2022.0}
vol_up_row_32= {"end_time" : np.datetime64('2022-11-17T01', 'h'), 
         "start_time" : np.datetime64('2022-11-17T00', 'h'),
         "value" : 0, "delivery_area" : 'NO4', "start_year " : 2022.0}

#NO5, volume up
vol_up_row_41 = {"end_time" : np.datetime64('2022-06-23T06', 'h'), 
         "start_time" : np.datetime64('2022-06-23T05', 'h'),
         "value" : 0, "delivery_area" : 'NO5', "start_year " : 2022.0}
vol_up_row_42 = {"end_time" : np.datetime64('2022-11-17T00', 'h'), 
         "start_time" : np.datetime64('2022-11-16T23', 'h'),
         "value" : 0, "delivery_area" : 'NO5', "start_year " : 2022.0}
vol_up_row_43= {"end_time" : np.datetime64('2022-11-17T01', 'h'), 
         "start_time" : np.datetime64('2022-11-17T00', 'h'),
         "value" : 0, "delivery_area" : 'NO5', "start_year " : 2022.0}

#NO1, volume down
vol_down_row_1 = {"end_time" : np.datetime64('2022-06-23T06', 'h'), 
         "start_time" : np.datetime64('2022-06-23T05', 'h'),
         "value" : 0, "delivery_area" : 'NO1', "start_year " : 2022.0}

vol_down_row_2 = {"end_time" : np.datetime64('2022-06-23T07', 'h'), 
         "start_time" : np.datetime64('2022-06-23T06', 'h'),
         "value" : 0, "delivery_area" : 'NO1', "start_year " : 2022.0}
vol_down_row_3 = {"end_time" : np.datetime64('2022-11-17T00', 'h'), 
         "start_time" : np.datetime64('2022-11-16T23', 'h'),
         "value" : 0, "delivery_area" : 'NO1', "start_year " : 2022.0}
vol_down_row_4= {"end_time" : np.datetime64('2022-11-17T01', 'h'), 
         "start_time" : np.datetime64('2022-11-17T00', 'h'),
         "value" : 0, "delivery_area" : 'NO1', "start_year " : 2022.0}
#NO2, volume down
vol_down_row_11 = {"end_time" : np.datetime64('2022-06-23T06', 'h'), 
         "start_time" : np.datetime64('2022-06-23T05', 'h'),
         "value" : 0, "delivery_area" : 'NO2', "start_year " : 2022.0}

vol_down_row_12 = {"end_time" : np.datetime64('2022-06-23T07', 'h'), 
         "start_time" : np.datetime64('2022-06-23T06', 'h'),
         "value" : 0, "delivery_area" : 'NO2', "start_year " : 2022.0}
vol_down_row_13= {"end_time" : np.datetime64('2022-11-17T01', 'h'), 
         "start_time" : np.datetime64('2022-11-17T00', 'h'),
         "value" : 0, "delivery_area" : 'NO2', "start_year " : 2022.0}
#NO3, volume down
vol_down_row_21= {"end_time" : np.datetime64('2022-11-17T01', 'h'), 
         "start_time" : np.datetime64('2022-11-17T00', 'h'),
         "value" : 0, "delivery_area" : 'NO3', "start_year " : 2022.0}
#NO4, volume down
vol_down_row_31 = {"end_time" : np.datetime64('2022-11-17T00', 'h'), 
         "start_time" : np.datetime64('2022-11-16T23', 'h'),
         "value" : 0, "delivery_area" : 'NO4', "start_year " : 2022.0}
vol_down_row_32= {"end_time" : np.datetime64('2022-11-17T01', 'h'), 
         "start_time" : np.datetime64('2022-11-17T00', 'h'),
         "value" : 0, "delivery_area" : 'NO4', "start_year " : 2022.0}
#NO5, volume dowmn
vol_down_row_41 = {"end_time" : np.datetime64('2022-06-23T06', 'h'), 
         "start_time" : np.datetime64('2022-06-23T05', 'h'),
         "value" : 419, "delivery_area" : 'NO5', "start_year " : 2022.0}
vol_down_row_42 = {"end_time" : np.datetime64('2022-11-17T00', 'h'), 
         "start_time" : np.datetime64('2022-11-16T23', 'h'),
         "value" : 0, "delivery_area" : 'NO5', "start_year " : 2022.0}
vol_down_row_43= {"end_time" : np.datetime64('2022-11-17T01', 'h'), 
         "start_time" : np.datetime64('2022-11-17T00', 'h'),
         "value" : 0, "delivery_area" : 'NO5', "start_year " : 2022.0}
"""

'vol_up_row_1 = {"end_time" : np.datetime64(\'2022-06-23T06\', \'h\'), \n         "start_time" : np.datetime64(\'2022-06-23T05\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO1\', "start_year " : 2022.0}\n\nvol_up_row_2 = {"end_time" : np.datetime64(\'2022-06-23T07\', \'h\'), \n         "start_time" : np.datetime64(\'2022-06-23T06\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO1\', "start_year " : 2022.0}\n\nvol_up_row_3 = {"end_time" : np.datetime64(\'2022-11-17T00\', \'h\'), \n         "start_time" : np.datetime64(\'2022-11-16T23\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO1\', "start_year " : 2022.0}\nvol_up_row_4= {"end_time" : np.datetime64(\'2022-11-17T01\', \'h\'), \n         "start_time" : np.datetime64(\'2022-11-17T00\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO1\', "start_year " : 2022.0}\n\n#NO2, volume up\nvol_up_row_11 = {"end_time" : np.datetime64(\'2022-06-23T06\', \'h\'), \n         "start_time" : np.datetime64(\'2022-06-23T05\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO2\', "start_year " : 2022.0}\n\nvol_up_row_12 = {"end_time" : np.datetime64(\'2022-06-23T07\', \'h\'), \n         "start_time" : np.datetime64(\'2022-06-23T06\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO2\', "start_year " : 2022.0}\nvol_up_row_13= {"end_time" : np.datetime64(\'2022-11-17T01\', \'h\'), \n         "start_time" : np.datetime64(\'2022-11-17T00\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO2\', "start_year " : 2022.0}\n\n#NO3, volume up\nvol_up_row_24= {"end_time" : np.datetime64(\'2022-11-17T01\', \'h\'), \n         "start_time" : np.datetime64(\'2022-11-17T00\', \'h\'),\n         "value" : 156, "delivery_area" : \'NO3\', "start_year " : 2022.0}\n\n#NO4, volume up\nvol_up_row_31 = {"end_time" : np.datetime64(\'2022-11-17T00\', \'h\'), \n         "start_time" : np.datetime64(\'2022-11-16T23\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO4\', "start_year " : 2022.0}\nvol_up_row_32= {"end_time" : np.datetime64(\'2022-11-17T01\', \'h\'), \n         "start_time" : np.datetime64(\'2022-11-17T00\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO4\', "start_year " : 2022.0}\n\n#NO5, volume up\nvol_up_row_41 = {"end_time" : np.datetime64(\'2022-06-23T06\', \'h\'), \n         "start_time" : np.datetime64(\'2022-06-23T05\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO5\', "start_year " : 2022.0}\nvol_up_row_42 = {"end_time" : np.datetime64(\'2022-11-17T00\', \'h\'), \n         "start_time" : np.datetime64(\'2022-11-16T23\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO5\', "start_year " : 2022.0}\nvol_up_row_43= {"end_time" : np.datetime64(\'2022-11-17T01\', \'h\'), \n         "start_time" : np.datetime64(\'2022-11-17T00\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO5\', "start_year " : 2022.0}\n\n#NO1, volume down\nvol_down_row_1 = {"end_time" : np.datetime64(\'2022-06-23T06\', \'h\'), \n         "start_time" : np.datetime64(\'2022-06-23T05\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO1\', "start_year " : 2022.0}\n\nvol_down_row_2 = {"end_time" : np.datetime64(\'2022-06-23T07\', \'h\'), \n         "start_time" : np.datetime64(\'2022-06-23T06\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO1\', "start_year " : 2022.0}\nvol_down_row_3 = {"end_time" : np.datetime64(\'2022-11-17T00\', \'h\'), \n         "start_time" : np.datetime64(\'2022-11-16T23\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO1\', "start_year " : 2022.0}\nvol_down_row_4= {"end_time" : np.datetime64(\'2022-11-17T01\', \'h\'), \n         "start_time" : np.datetime64(\'2022-11-17T00\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO1\', "start_year " : 2022.0}\n#NO2, volume down\nvol_down_row_11 = {"end_time" : np.datetime64(\'2022-06-23T06\', \'h\'), \n         "start_time" : np.datetime64(\'2022-06-23T05\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO2\', "start_year " : 2022.0}\n\nvol_down_row_12 = {"end_time" : np.datetime64(\'2022-06-23T07\', \'h\'), \n         "start_time" : np.datetime64(\'2022-06-23T06\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO2\', "start_year " : 2022.0}\nvol_down_row_13= {"end_time" : np.datetime64(\'2022-11-17T01\', \'h\'), \n         "start_time" : np.datetime64(\'2022-11-17T00\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO2\', "start_year " : 2022.0}\n#NO3, volume down\nvol_down_row_21= {"end_time" : np.datetime64(\'2022-11-17T01\', \'h\'), \n         "start_time" : np.datetime64(\'2022-11-17T00\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO3\', "start_year " : 2022.0}\n#NO4, volume down\nvol_down_row_31 = {"end_time" : np.datetime64(\'2022-11-17T00\', \'h\'), \n         "start_time" : np.datetime64(\'2022-11-16T23\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO4\', "start_year " : 2022.0}\nvol_down_row_32= {"end_time" : np.datetime64(\'2022-11-17T01\', \'h\'), \n         "start_time" : np.datetime64(\'2022-11-17T00\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO4\', "start_year " : 2022.0}\n#NO5, volume dowmn\nvol_down_row_41 = {"end_time" : np.datetime64(\'2022-06-23T06\', \'h\'), \n         "start_time" : np.datetime64(\'2022-06-23T05\', \'h\'),\n         "value" : 419, "delivery_area" : \'NO5\', "start_year " : 2022.0}\nvol_down_row_42 = {"end_time" : np.datetime64(\'2022-11-17T00\', \'h\'), \n         "start_time" : np.datetime64(\'2022-11-16T23\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO5\', "start_year " : 2022.0}\nvol_down_row_43= {"end_time" : np.datetime64(\'2022-11-17T01\', \'h\'), \n         "start_time" : np.datetime64(\'2022-11-17T00\', \'h\'),\n         "value" : 0, "delivery_area" : \'NO5\', "start_year " : 2022.0}\n'

In [70]:
#vol_up_rows = [vol_up_row_1, vol_up_row_2, vol_up_row_3, vol_up_row_4, vol_up_row_11, vol_up_row_12, vol_up_row_13, vol_up_row_24, vol_up_row_31, vol_up_row_32, vol_up_row_41, vol_up_row_42, vol_up_row_43]
#vol_down_rows = [vol_down_row_1, vol_down_row_2, vol_down_row_3, vol_down_row_4, vol_down_row_11, vol_down_row_12, vol_down_row_13, vol_down_row_21, vol_down_row_31, vol_down_row_32, vol_down_row_41, vol_down_row_42, vol_down_row_43]

In [71]:
"""for row in vol_up_rows:
    row = pd.Series(row)
    new_row_df = pd.DataFrame(row).T
    rk_volume_up = pd.concat([rk_volume_up, new_row_df], ignore_index=True)
for row in vol_down_rows:
    row = pd.Series(row)
    nrdf = pd.DataFrame(row).T
    rk_volume_down = pd.concat([rk_volume_down, nrdf], ignore_index=True)"""

'for row in vol_up_rows:\n    row = pd.Series(row)\n    new_row_df = pd.DataFrame(row).T\n    rk_volume_up = pd.concat([rk_volume_up, new_row_df], ignore_index=True)\nfor row in vol_down_rows:\n    row = pd.Series(row)\n    nrdf = pd.DataFrame(row).T\n    rk_volume_down = pd.concat([rk_volume_down, nrdf], ignore_index=True)'

In [72]:
rk_dfs_dict = {"price_down" : rk_price_down,"price_up" : rk_price_up,"volume_up" : rk_volume_up,"volume_down" : rk_volume_down}

In [73]:
for name in rk_dfs_dict.keys():
    print(name, " : ", len(rk_dfs_dict[name]["value"]))
    for index, val in enumerate(rk_dfs_dict[name]["value"].isna()):
        #print(val)
        if val == True:
            print(index, " : ", name)

price_down  :  78820
price_up  :  78814
volume_up  :  77602
volume_down  :  77602

In [74]:
def preprocess_dfs(df_dict):
    copy_dict = df_dict.copy()
    for name in df_dict.keys():
        df = copy_dict[name]
        #df.drop(columns = ["end_time", "bi_created", "start_year" ], inplace = True)
        df["start_time"] = pd.to_datetime(df["start_time"], format="%Y-%m-%d %H:%M:%S")
        #df["start_time"] = df["start_time"].dt.tz_localize("UTC")
        df["start_time"] = df["start_time"].dt.tz_convert("Europe/Oslo")
        df.sort_values(by = ["start_time", "delivery_area"], inplace = True)
        df.rename(columns = {"start_time" : "Time(Local)", "value" : name}, inplace = True)
    return copy_dict

In [75]:
updated_df_dict = preprocess_dfs(rk_dfs_dict)

In [76]:
print(updated_df_dict["price_down"]["Time(Local)"].iloc[0])
print(type(updated_df_dict["price_down"]["Time(Local)"].iloc[0]))
print(updated_df_dict["price_down"]["Time(Local)"].iloc[0].tzinfo)

2022-01-01 01:00:00+01:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
Europe/Oslo

In [95]:
def find_missing_hours(df : pd.DataFrame, area : str):
    # Define the year for which you want to find missing hours

    # Generate a reference array with all hours in a year
    start_date = np.datetime64("2022-01-01T00:00:00")
    end_date = np.datetime64("2023-06-30T23:00:00")
    reference_dates = np.arange(start_date, end_date, dtype='datetime64[h]')
    print(len(reference_dates))
    #print(reference_dates)

    # Convert your actual datetime_array to a set of timestamps
    actual_dates = df["Time(Local)"].loc[df["delivery_area"] == area].values

    # Find missing hours by comparing the reference and actual arrays
    missing_hours = [date for date in reference_dates if date not in actual_dates]

    """print("Missing hours: ", len(missing_hours))
    for missing_hour in missing_hours:
        print(missing_hour)"""
    return missing_hours

In [96]:
find_missing_hours(rk_volume_down, "NO3")

13103

[numpy.datetime64('2022-11-17T00','h')]

In [ ]:
def get_missing_values(df_dict, area):
    missing_df = {}
    for key in df_dict.keys():
        missing_df[key] = find_missing_hours(df_dict[key], area)
    return missing_df

In [90]:
missing_dict_NO1 = get_missing_values(updated_df_dict, "NO1")
missing_dict_NO2 = get_missing_values(updated_df_dict, "NO2")
missing_dict_NO3 = get_missing_values(updated_df_dict, "NO3")
missing_dict_NO4 = get_missing_values(updated_df_dict, "NO4")
missing_dict_NO5 = get_missing_values(updated_df_dict, "NO5")

NameError: name 'get_missing_values' is not defined

In [ ]:
print("Missing values for the different markets in NO1 : ", missing_dict_NO1)
print("\n")
print("Missing values for the different markets in NO2 : ", missing_dict_NO2)
print("\n")
print("Missing values for the different markets in NO3 : ", missing_dict_NO3)
print("\n")
print("Missing values for the different markets in NO4 : ", missing_dict_NO4)
print("\n")
print("Missing values for the different markets in NO5 : ", missing_dict_NO5)

In [83]:
def get_monthly_rk_df(rk_dict: dict, area : str, month : int, year : int):
    date_format = '%Y-%m-%d %H:%M:%S%z'
    
    start_datetime = datetime(year, month, 1, 0, 0, 0, tzinfo= pytz.timezone("Europe/Oslo"))
    if month == 12:
        end_datetime = datetime(year + 1, 1, 1, 0, 0, 0, tzinfo= pytz.timezone("Europe/Oslo"))
    else:
        end_datetime = datetime(year, month +1, 1, 0, 0, 0, tzinfo= pytz.timezone("Europe/Oslo"))
    
    new_df_list = []
    for name in rk_dict.keys():
        df = rk_dict[name]
        df.sort_values(by = ["Time(Local)"], inplace = True)
        filtered_df = df[(df["Time(Local)"] >= start_datetime) & (df["Time(Local)"] < end_datetime) & (df["delivery_area"] == area)]
        new_df_list.append(filtered_df)
        
    
    return pd.concat(new_df_list, axis = 1)

In [86]:
total_df_october = get_monthly_rk_df(updated_df_dict, "NO5", 4, 2023)

In [89]:
total_df_october

,Time(Local),price_down,delivery_area,Time(Local),price_up,delivery_area,Time(Local),volume_up,delivery_area,Time(Local),volume_down,delivery_area
54604,2023-04-01 02:00:00+02:00,56.0,NO5,2023-04-01 02:00:00+02:00,81.14,NO5,NaT,NaN,NaN,NaT,NaN,NaN
54609,2023-04-01 03:00:00+02:00,33.0,NO5,2023-04-01 03:00:00+02:00,81.27,NO5,NaT,NaN,NaN,NaT,NaN,NaN
54614,2023-04-01 04:00:00+02:00,33.0,NO5,2023-04-01 04:00:00+02:00,82.24,NO5,NaT,NaN,NaN,NaT,NaN,NaN
54619,2023-04-01 05:00:00+02:00,55.5,NO5,2023-04-01 05:00:00+02:00,83.03,NO5,NaT,NaN,NaN,NaT,NaN,NaN
54624,2023-04-01 06:00:00+02:00,55.5,NO5,2023-04-01 06:00:00+02:00,84.49,NO5,NaT,NaN,NaN,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
58166,NaT,NaN,NaN,NaT,NaN,NaN,2023-04-30 21:00:00+02:00,0.0,NO5,2023-04-30 21:00:00+02:00,0.0,NO5
58171,NaT,NaN,NaN,NaT,NaN,NaN,2023-04-30 22:00:00+02:00,0.0,NO5,2023-04-30 22:00:00+02:00,0.0,NO5
58176,NaT,NaN,NaN,NaT,NaN,NaN,2023-04-30 23:00:00+02:00,0.0,NO5,2023-04-30 23:00:00+02:00,0.0,NO5
58181,NaT,NaN,NaN,NaT,NaN,NaN,2023-05-01 00:00:00+02:00,0.0,NO5,2023-05-01 00:00:00+02:00,-315.0,NO5
58186,NaT,NaN,NaN,NaT,NaN,NaN,2023-05-01 01:00:00+02:00,0.0,NO5,2023-05-01 01:00:00+02:00,-38.0,NO5

In [43]:
def get_RK_df(rk_dfs : dict, area : str, month : int, year : int):
    rk_df = pd.DataFrame(np.zeros((len(rk_dfs["price_down"]), 6)), columns = [ "Time(Local)", "Area", "price_down", "price_up", "volume_down", "volume_up"])
    #rk_df["end_time"] = rk_dfs["price_down"]["end_time"]
    start_datetime = datetime(year, month, 1, 0, 0, 0, tzinfo= pytz.timezone("Europe/Oslo"))
    if month == 12:
        end_datetime = datetime(year + 1, 1, 1, 0, 0, 0, tzinfo= pytz.timezone("Europe/Oslo"))
    else:
        end_datetime = datetime(year, month +1, 1, 0, 0, 0, tzinfo= pytz.timezone("Europe/Oslo"))
    rk_df["Time(Local)"] = rk_dfs["price_down"]["start_time"].loc[]
    rk_df["delivery_area"] = rk_dfs["price_down"]["delivery_area"]
    for name in rk_dfs.keys():
        df = rk_dfs[name]
        #rk_df[name] = df["value"].loc[[df["delivery_area"] == rk_df["delivery_area"], df["start_time"] == rk_df["start_time"]]]
        rk_df[name] = df["value"].loc[df["delivery_area"] == area]
        
    #date_format = '%d.%m.%Y %H:%M:%S'
    rk_df["start_time"] = pd.to_datetime(rk_df["start_time"])
    rk_df["start_time"] = rk_df["start_time"].dt.tz_convert('Europe/Oslo')
    
    return rk_df

In [55]:
rk_df = get_RK_df(updated_df_dict)
rk_df

ValueError: Can only compare identically-labeled Series objects

In [29]:
rk_df["start_time"][0]

Timestamp('2022-01-01 01:00:00+0100', tz='Europe/Oslo')

In [32]:
rk_df.loc[(rk_df["start_time"] > pd.Timestamp('2022-10-03 00:00:00+0200', tz= 'Europe/Oslo')) & (rk_df["start_time"] < pd.Timestamp('2022-10-03 23:00:00+0200', tz= 'Europe/Oslo')) & (rk_df["delivery_area"] == "NO5")]

,end_time,start_time,delivery_area,price_down,price_up,volume_down,volume_up
32999,2022-10-03T00:00:00.000Z,2022-10-03 01:00:00+02:00,NO5,169.08,169.08,-25.0,0.0
33004,2022-10-03T01:00:00.000Z,2022-10-03 02:00:00+02:00,NO5,33.48,161.28,NaN,NaN
33009,2022-10-03T02:00:00.000Z,2022-10-03 03:00:00+02:00,NO5,33.61,94.41,NaN,NaN
33014,2022-10-03T03:00:00.000Z,2022-10-03 04:00:00+02:00,NO5,98.26,98.26,NaN,NaN
33019,2022-10-03T04:00:00.000Z,2022-10-03 05:00:00+02:00,NO5,132.01,132.01,NaN,NaN
33024,2022-10-03T05:00:00.000Z,2022-10-03 06:00:00+02:00,NO5,199.91,206.41,NaN,NaN
33029,2022-10-03T06:00:00.000Z,2022-10-03 07:00:00+02:00,NO5,286.82,289.78,NaN,NaN
33034,2022-10-03T07:00:00.000Z,2022-10-03 08:00:00+02:00,NO5,304.10,311.80,NaN,NaN
33039,2022-10-03T08:00:00.000Z,2022-10-03 09:00:00+02:00,NO5,259.36,311.80,NaN,NaN
33044,2022-10-03T09:00:00.000Z,2022-10-03 10:00:00+02:00,NO5,199.93,199.93,NaN,NaN
33049,2022-10-03T10:00:00.000Z,2022-10-03 11:00:00+02:00,NO5,147.33,153.54,NaN,NaN
33054,2022-10-03T11:00:00.000Z,2022-10-03 12:00:00+02:00,NO5,119.09,121.81,NaN,NaN
33059,2022-10-03T12:00:00.000Z,2022-10-03 13:00:00+02:00,NO5,45.00,129.31,0.0,0.0
33064,2022-10-03T13:00:00.000Z,2022-10-03 14:00:00+02:00,NO5,40.00,145.08,0.0,0.0
33069,2022-10-03T14:00:00.000Z,2022-10-03 15:00:00+02:00,NO5,50.00,184.31,NaN,NaN
33074,2022-10-03T15:00:00.000Z,2022-10-03 16:00:00+02:00,NO5,188.00,223.95,NaN,NaN
33079,2022-10-03T16:00:00.000Z,2022-10-03 17:00:00+02:00,NO5,260.00,312.48,NaN,NaN
33084,2022-10-03T17:00:00.000Z,2022-10-03 18:00:00+02:00,NO5,344.99,344.99,0.0,189.0
33089,2022-10-03T18:00:00.000Z,2022-10-03 19:00:00+02:00,NO5,351.27,351.27,NaN,NaN
33094,2022-10-03T19:00:00.000Z,2022-10-03 20:00:00+02:00,NO5,342.91,342.91,NaN,NaN
33099,2022-10-03T20:00:00.000Z,2022-10-03 21:00:00+02:00,NO5,272.00,306.83,NaN,0.0
33104,2022-10-03T21:00:00.000Z,2022-10-03 22:00:00+02:00,NO5,272.00,299.87,NaN,NaN

In [38]:
def get_monthly_rk_df(month : int, df : pd.DataFrame, area : str):
    #start_datetime = np.datetime64(f'{2022}-{month:02d}-{1:02d}T00:00:00')
    start_datetime = pd.Timestamp(f'{2022}-{month:02d}-{1:02d}T00:00:00+0000', tz = 'UTC')
    if month in [1,3,5,7,8,10,12]:
        last_day = 31
    elif month == 2:
        last_day = 28
    else:
        last_day =30

    end_datetime = pd.Timestamp(f'{2022}-{month:02d}-{last_day:02d}T23:00:00+0000', tz = 'UTC')
    #end_datetime = datetime(2022, month, last_day, 23, 0, 0)
    
    filtered_df = df[(df["start_time"] >= start_datetime) & (df["start_time"] <= end_datetime)]

    monthly_area_df = filtered_df.loc[(filtered_df.delivery_area == area)]

    return monthly_area_df.sort_values(by = "start_time").reset_index(drop = True)

In [39]:
get_monthly_rk_df(10, rk_df, "NO1")

,end_time,start_time,delivery_area,price_down,price_up,volume_down,volume_up
0,2022-10-01T01:00:00.000Z,2022-10-01 00:00:00+00:00,NO1,19.07,51.60,NaN,0.0
1,2022-10-01T02:00:00.000Z,2022-10-01 01:00:00+00:00,NO1,14.50,22.17,NaN,NaN
2,2022-10-01T03:00:00.000Z,2022-10-01 02:00:00+00:00,NO1,14.50,17.45,NaN,NaN
3,2022-10-01T04:00:00.000Z,2022-10-01 03:00:00+00:00,NO1,16.52,16.52,NaN,NaN
4,2022-10-01T05:00:00.000Z,2022-10-01 04:00:00+00:00,NO1,16.15,16.15,NaN,NaN
...,...,...,...,...,...,...,...
739,2022-10-31T20:00:00.000Z,2022-10-31 19:00:00+00:00,NO1,101.00,142.72,NaN,NaN
740,2022-10-31T21:00:00.000Z,2022-10-31 20:00:00+00:00,NO1,95.00,132.81,-33.0,0.0
741,2022-10-31T22:00:00.000Z,2022-10-31 21:00:00+00:00,NO1,85.00,116.77,NaN,NaN
742,2022-10-31T23:00:00.000Z,2022-10-31 22:00:00+00:00,NO1,60.00,100.73,NaN,NaN
743,2022-11-01T00:00:00.000Z,2022-10-31 23:00:00+00:00,NO1,83.23,83.23,NaN,NaN

In [54]:
def get_RK_hour_vals(df, year, month, day, hour):
    #return df.loc[(df["start_time"] == pd.Timestamp(f'{year}-{month:02d}-{day:02d}T{hour:02d}:00:00+0000', tz = 'UTC'))]
    #return df.loc[(df["start_time"] == '{year}-{month:02d}-{day:02d}T{hour:02d}:00:00.000Z')]
    return df.loc[(df["start_time"] == '2022-10-03T05:00:00.000Z')]

In [55]:
get_RK_hour_vals(rk_volume_up, 2022, 10, 3, 5)

,end_time,start_time,value,delivery_area,start_year,start_year
9641,2022-10-03T06:00:00.000Z,2022-10-03T05:00:00.000Z,44.0,NO3,2022.0,NaN
14118,2022-10-03T06:00:00.000Z,2022-10-03T05:00:00.000Z,0.0,NO2,2022.0,NaN
18645,2022-10-03T06:00:00.000Z,2022-10-03T05:00:00.000Z,148.5,NO4,2022.0,NaN
23882,2022-10-03T06:00:00.000Z,2022-10-03T05:00:00.000Z,0.0,NO1,2022.0,NaN
28210,2022-10-03T06:00:00.000Z,2022-10-03T05:00:00.000Z,10.0,NO5,2022.0,NaN

# FFR

In [98]:
ffr_df = pd.DataFrame(np.zeros((8761, 5)), columns= ["Time(Local)", "FFR-Flex Price [EUR/MW]", "FFR-Profil Price [EUR/MW]", "FFR-Flex Volume", "FFR-Profil Volume"])
# The Time(Local) column should have datetime objects starting from 01.01.2022 until 01.01.2023 with hourly values
ffr_df["Time(Local)"] = pd.date_range(start="2022-01-01 00:00:00", end="2023-01-01 00:00:00", freq="H", tz = "Europe/Oslo")
# The FFR-Flex Price [EUR/MW] column should be 0 until 29.04.2022 and then be equal to 450 until 30.10.2022 and then be 0 again
ffr_df["FFR-Flex Price [EUR/MW]"] = 450
ffr_df["FFR-Flex Price [EUR/MW]"][(ffr_df["Time(Local)"] < pd.Timestamp("2022-04-29 00:00:00"))]  = 0
ffr_df["FFR-Flex Price [EUR/MW]"][(ffr_df["Time(Local)"] > pd.Timestamp("2022-10-30 00:00:00"))]  = 0

ffr_df["FFR-Profil Price [EUR/MW]"] = 150
ffr_df["FFR-Profil Price [EUR/MW]"][(ffr_df["Time(Local)"] < pd.Timestamp("2022-05-27 00:00:00"))]  = 0
ffr_df["FFR-Profil Price [EUR/MW]"][(ffr_df["Time(Local)"] > pd.Timestamp("2022-09-03 00:00:00"))]  = 0

print(ffr_df)

TypeError: Invalid comparison between dtype=datetime64[ns, Europe/Oslo] and Timestamp

In [ ]:
ffr_df.iloc[5111]

In [ ]:
def get_FFR_income(MW_flex : float, MW_profile : float):
    """Calculates the income from FFR for a given amount of MW in flex and/or profile."""
    flex_hours = 400
    profile_hours = 1350
    flex_price = 450 #NOK/MW/time
    profile_price = 150 #NOK/MW/time
    income_flex = MW_flex * flex_hours * flex_price
    income_profile = MW_profile * profile_hours * profile_price
    if MW_flex > 0 and MW_profile > 0:
        return income_flex + income_profile
    elif MW_flex > 0:
        return income_flex
    elif MW_profile > 0:
        return income_profile
    else:
        return 0

In [ ]:
get_FFR_income(MW_flex = 5, MW_profile = 4)

In [ ]:
def get_FFR_hour(ffr_df, year, month, day, hour):
    return ffr_df.loc[(ffr_df["Time(Local)"] == pd.Timestamp(f'{year}-{month:02d}-{day:02d} {hour:02d}'))]

In [ ]:
val = get_FFR_hour(ffr_df, year = 2022, month = 8, day = 7, hour = 5)

In [ ]:
val

# aFRR

In [4]:
import os

up_directory = '/Users/sandermeland/Documents/Jobb/Volte/master-kode/markets/markets-data/aFFR/up'
up_file_list = [file for file in os.listdir(up_directory) if file.endswith('.csv')]

down_directory = '/Users/sandermeland/Documents/Jobb/Volte/master-kode/markets/markets-data/aFFR/down'
down_file_list = [file for file in os.listdir(down_directory) if file.endswith('.csv')]
merged_data = pd.DataFrame()

up_data_files = []
down_data_files = []

for file in up_file_list:
    file_path = os.path.join(up_directory, file)
    data = pd.read_csv(file_path)
    up_data_files.append(data)

for file in down_file_list:
    file_path = os.path.join(down_directory, file)
    data = pd.read_csv(file_path)
    down_data_files.append(data)

In [5]:
up_df = pd.concat(up_data_files, ignore_index= True)
down_df = pd.concat(down_data_files, ignore_index= True)

In [6]:
def preprocess_aFRR(up_df, down_df):
    down_df = down_df.rename(columns = {'MTU' : "Time(Local)",
                'Daily - Down Contracted Volume [MW]' : 'aFRR Volume Down NO1',
                'Daily - Down Contracted Price' : 'aFRR Price Down NO1',
                'Daily - Down Contracted Volume [MW].1' : 'aFRR Volume Down NO2',
                'Daily - Down Contracted Price.1' : 'aFRR Price Down NO2' ,
                'Daily - Down Contracted Volume [MW].2' : 'aFRR Volume Down NO3',
                'Daily - Down Contracted Price.2' : 'aFRR Price Down NO3',
                'Daily - Down Contracted Volume [MW].3' : 'aFRR Volume Down NO4',
                'Daily - Down Contracted Price.3' : 'aFRR Price Down NO4',
                'Daily - Down Contracted Volume [MW].4' : 'aFRR Volume Down NO5',
                'Daily - Down Contracted Price.4' : 'aFRR Price Down NO5'})
                
        
    up_df = up_df.rename(columns = {'MTU' : "Time(Local)",
                'Daily - Up Contracted Volume [MW]' : 'aFRR Volume Up NO1',
                'Daily - Up Contracted Price' : 'aFRR Price Up NO1', 
                'Daily - Up Contracted Volume [MW].1' : 'aFRR Volume Up NO2',
                'Daily - Up Contracted Price.1' : 'aFRR Price Up NO2', 
                'Daily - Up Contracted Volume [MW].2' : 'aFRR Volume Up NO3',
                'Daily - Up Contracted Price.2' : 'aFRR Price Up NO3', 
                'Daily - Up Contracted Volume [MW].3' : 'aFRR Volume Up NO4',
                'Daily - Up Contracted Price.3' : 'aFRR Price Up NO4',
                'Daily - Up Contracted Volume [MW].4' : 'aFRR Volume Up NO5',
                'Daily - Up Contracted Price.4' : 'aFRR Price Up NO5'})
    
    for df in [up_df, down_df]:
        df.sort_values(by= "Time(Local)", ignore_index= True, inplace= True)  
        
        df["Time(Local)"] = df["Time(Local)"].str.slice(0,16)
        
        df["Time(Local)"] = pd.to_datetime(df["Time(Local)"], format = '%d.%m.%Y %H:%M')
        
        #df.drop_duplicates(subset = ["Time(Local)"], inplace = True)
        
        #ambiguous_timestamp = pd.Timestamp('2022-10-30 02:00:00')

        # Use 'ambiguous' argument to handle ambiguity
        #localized_timestamp = ambiguous_timestamp.tz_localize('Europe/Oslo', ambiguous='infer')
        
        df["Time(Local)"] = df["Time(Local)"].dt.tz_localize('Europe/Oslo', ambiguous='infer')
        
    
    return up_df, down_df

In [7]:

aFRR_up_df, aFRR_down_df = preprocess_aFRR(up_df, down_df)

In [8]:
print(aFRR_up_df.columns)
print(aFRR_down_df.columns)

Index(['Time(Local)', 'aFRR Volume Up NO1', 'aFRR Price Up NO1',
       'aFRR Volume Up NO2', 'aFRR Price Up NO2', 'aFRR Volume Up NO3',
       'aFRR Price Up NO3', 'aFRR Volume Up NO4', 'aFRR Price Up NO4',
       'aFRR Volume Up NO5', 'aFRR Price Up NO5'],
      dtype='object')
Index(['Time(Local)', 'aFRR Volume Down NO1', 'aFRR Price Down NO1',
       'aFRR Volume Down NO2', 'aFRR Price Down NO2', 'aFRR Volume Down NO3',
       'aFRR Price Down NO3', 'aFRR Volume Down NO4', 'aFRR Price Down NO4',
       'aFRR Volume Down NO5', 'aFRR Price Down NO5'],
      dtype='object')

# Comparison of prices

In [ ]:
date = datetime(2022, 3, 12)
date.weekday()

In [ ]:
def compare_prices(rk_df, fcr_d2_df, fcr_d1_df, ffr_df, year, month, day, hour, area):
    ffr_vals = get_FFR_hour(ffr_df, year, month, day, hour) # bør legge til area?
    rk_vals = get_RK_hour_vals(rk_df, year, month, day, hour) # bør legge til area?
    fcr_d1_vals = get_FCR_hour_val(fcr_d1_df, year, month, day, hour) # bør legge til area?
    fcr_d2_vals = get_FCR_hour_val(fcr_d2_df, year, month, day, hour) # bør legge til area?
    rkom_vals = get_hour_val_RKOM(rkom_2022_df, year, month, day, hour, area)   
    
    print(ffr_vals)
    print(rk_vals)
    print(fcr_d1_vals)
    print(fcr_d2_vals)
    print(rkom_vals)

In [ ]:
compare_prices(rk_df, fcr_d_2_df, fcr_d_1_df, ffr_df, year = 2022, month = 8, day = 7, hour = 5, area = "NO1")

In [ ]:
def standardize_datasets(df : pd.DataFrame, market : str, area : str):
    """ Standardizes all the datasets where they have the same name on the time column and all timestamps are in Europe/Oslo timezone

    Args:
        df (pd.DataFrame): the dataframe to be standardized
        market (str): a string describing which market the df is from
        area (str): for which area the output df should be

    Returns:
        pd.DataFrame: the standardized dataframe
    """
    if market == "RKOM":
        std_df = pd.DataFrame(np.zeros((8761, 9)), columns= ["Time(Local)", "RKOM-H Price up", "RKOM-H Volume up", "RKOM-B Price up", "RKOM-B Volume up", "RKOM-H Price down", "RKOM-H Volume down", "RKOM-B Price down", "RKOM-B Volume down"])
        std_df["Time(Local)"] = pd.date_range(start="2022-01-01 00:00:00", end="2023-01-01 00:00:00", freq="H", tz= "Europe/Oslo")
        for date in std_df["Time(Local)"]:
            year = date.year
            month = date.month
            day = date.day
            hour = date.hour
            
            hour_val = get_hour_val_RKOM(df, year, month, day, hour, area) 
            if date.weekday() < 5:
                std_df["RKOM-H Price up"][(std_df["Time(Local)"] == date)] = hour_val["RKOM-H Price Weekday"].iloc[0]
                std_df["RKOM-H Volume up"][(std_df["Time(Local)"] == date)] = hour_val["RKOM-H Volume Weekday"].iloc[0]
                std_df["RKOM-B Price up"][(std_df["Time(Local)"] == date)] = hour_val["RKOM-B Price Weekday"].iloc[0]
                std_df["RKOM-B Volume up"][(std_df["Time(Local)"] == date)] = hour_val["RKOM-B Volume Weekday"].iloc[0]
                std_df["RKOM-H Price down"][(std_df["Time(Local)"] == date)] = hour_val["RKOM-H Price Weekday"].iloc[1]
                std_df["RKOM-H Volume down"][(std_df["Time(Local)"] == date)] = hour_val["RKOM-H Volume Weekday"].iloc[1]
                std_df["RKOM-B Price down"][(std_df["Time(Local)"] == date)] = hour_val["RKOM-B Price Weekday"].iloc[1]
                std_df["RKOM-B Volume down"][(std_df["Time(Local)"] == date)] = hour_val["RKOM-B Volume Weekday"].iloc[1]
            else:
                std_df["RKOM-H Price up"][(std_df["Time(Local)"] == date)] = hour_val["RKOM-H Price Weekend"].iloc[0]
                std_df["RKOM-H Volume up"][(std_df["Time(Local)"] == date)] = hour_val["RKOM-H Volume Weekend"].iloc[0]
                std_df["RKOM-B Price up"][(std_df["Time(Local)"] == date)] = hour_val["RKOM-B Price Weekend"].iloc[0]
                std_df["RKOM-B Volume up"][(std_df["Time(Local)"] == date)] = hour_val["RKOM-B Volume Weekend"].iloc[0]
                std_df["RKOM-H Price down"][(std_df["Time(Local)"] == date)] = hour_val["RKOM-H Price Weekend"].iloc[1]
                std_df["RKOM-H Volume down"][(std_df["Time(Local)"] == date)] = hour_val["RKOM-H Volume Weekend"].iloc[1]
                std_df["RKOM-B Price down"][(std_df["Time(Local)"] == date)] = hour_val["RKOM-B Price Weekend"].iloc[1]
                std_df["RKOM-B Volume down"][(std_df["Time(Local)"] == date)] = hour_val["RKOM-B Volume Weekend"].iloc[1]
            
        # add an extra row for the timestamp equal to     
        #std_df["Time(Local)"] = std_df["Time(Local)"].dt.tz_localize('Europe/Oslo')
        return std_df
    elif market == "RK":
        std_df = df.copy()
        std_df.drop(columns = ["end_time"], inplace=True)
        std_df.rename(columns={"delivery_area" : "Area", "start_time" : "Time(Local)", "price_down" : "RK Price Down", "volume_down" : "RK Volume down", "price_up" : "RK Price Up", "volume_up" : "RK Volume Up"}, inplace=True)
        #df["Time(Local)"].apply(lambda x: pd.to_datetime(x))
        #df["Time(Local)"] = df["Time(Local)"].apply(lambda x: x.replace(tzinfo="Europe/Oslo"))
        std_df["Time(Local)"] = std_df["Time(Local)"].dt.tz_convert('Europe/Oslo')
        return std_df.loc[(std_df["Area"] == area)]
    elif market == "FCR D-1" or market == "FCR D-2":
        std_df = df.copy()
        #std_df.drop(columns = ["Hournumber"], inplace=True)
        std_df = std_df.loc[(std_df["Area"] == area)]
        #std_df["Time(Local)"].apply(lambda x: x.tz_localize(tz="Europe/Oslo"))
        return std_df
    elif market == 'aFRR_up' or market == "aFRR_down":
        std_df = df.copy()
        # drop rows that has duplicate values in the Time(Local) column
        std_df.drop_duplicates(subset = ["Time(Local)"], inplace = True)
        for col in std_df.columns[1:]:
            if area not in col:
                std_df.drop(columns= [col], inplace = True)
        
        return std_df
    else:
        return df

In [ ]:
fg = standardize_datasets(df = fcr_d_2_df, market = "FCR D-2", area = "NO1")

In [ ]:
fg["Time(Local)"].iloc[0].tzinfo

In [ ]:
def get_monthly_std_df(df : pd.DataFrame, month : int):
    """ function to filter the data by area and month

    Args:
        df (pd.DataFrame): dataframe to filter - should be for one given market in one specific year
        month (int): wanted month - chosen from [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
    """
    start_datetime = datetime(2022, month, 1, 0, 0, 0, tzinfo=df["Time(Local)"].iloc[0].tzinfo)
    if month in [1, 3, 5, 7, 8, 10, 12]:
        last_day = 31
    elif month == 2:
        last_day = 28
    else:
        last_day = 30
        
    end_datetime = datetime(2022, month, last_day, 23, 0, 0, tzinfo=df["Time(Local)"].iloc[0].tzinfo)
    
    # Convert "Time(Local)" column to datetime objects - this should have been done before
   # df["Time(Local)"] = pd.to_datetime(df["Time(Local)"], format=date_format)
    
    # Filter based on date range
    filtered_df = df[(df["Time(Local)"] >= start_datetime) & (df["Time(Local)"] <= end_datetime)]
    
    
    # Sort by "Time(Local)" column
    filtered_df = filtered_df.sort_values(by="Time(Local)").reset_index(drop=True)
    
    return filtered_df

In [ ]:
def create_total_df(rk_df :pd.DataFrame, rkom_2022_df : pd.DataFrame, fcr_d_1_df : pd.DataFrame, fcr_d_2_df: pd.DataFrame, ffr_df: pd.DataFrame, aFRR_up : pd.DataFrame, aFRR_down : pd.DataFrame, area : str):
    
    # create a dataframe with the columns: hour, day, month, year, area, rk_price_up, rk_price_down, rk_volume_up, rk_volume_down, rkom_price_weekday, rkom_price_weekend, rkom_volume_weekday, rkom_volume_weekend, fcr_d_1_price, fcr_d_1_volume, fcr_d_2_price, fcr_d_2_volume, ffr_flex_price, ffr_flex_volume, ffr_profile_price, ffr_profile_volume
    """ total_df = pd.DataFrame(np.zeros((8760*5, 18)), columns = ["Time (UTC)", "area", "rk_price_up", "rk_price_down", "rk_volume_up", "rk_volume_down", "rkom_h_price", "rkom_b_price" ,"rkom__h_volume", "rkom__b_volume", "fcr_d_1_price", "fcr_d_1_volume", "fcr_d_2_price", "fcr_d_2_volume", "ffr_flex_price", "ffr_flex_volume", "ffr_profile_price", "ffr_profile_volume"])
    total_df["Time (UTC)"] = rk_df["start_time"]
    total_df["area"] = pd.Series(["NO1", "NO2", "NO3", "NO4", "NO5"] * 8760)"""
    
    df_name_dict = {"RK" :  rk_df, "RKOM" : rkom_2022_df, "FCR D-1" : fcr_d_1_df, "FCR D-2" : fcr_d_2_df, "FFR" : ffr_df, "aFRR_up" : aFRR_up, "aFRR_down" : aFRR_down}
    for name in df_name_dict.keys():
        std_df= standardize_datasets(market = name, df = df_name_dict[name], area = area)
        df_name_dict[name] = get_monthly_std_df(df= std_df, month= 10)
        #display(df_name_dict[name])
    
    # make all the dataframes have the same timezone in their timestamps in the "Time(Local)" column
    
    
    return df_name_dict

In [ ]:
df_dict_october = create_total_df(rk_df, rkom_2022_df, fcr_d_1_df, fcr_d_2_df, ffr_df, aFRR_up= aFRR_up_df, aFRR_down= aFRR_down_df, area = "NO5")

In [ ]:
def merge_dfs(df_dict):
    std_df_list = [df for df in df_dict.values()]
    concatted_df = pd.concat(std_df_list, axis = 1)
    concatted_df.drop(columns = ["Time(Local)", "Area"], inplace = True)
    concatted_df["Time(Local)"] = pd.date_range(start="2022-10-01 01:00:00", end="2022-10-31 23:00:00", freq="H", tz= "Europe/Oslo")
    return concatted_df

In [ ]:
total_ocotber_df = merge_dfs(df_dict_october)

In [ ]:
for name in total_ocotber_df.keys():
    print(" ")
    print(name)
    print(total_ocotber_df[name]["Time(Local)"].iloc[0])
    print(total_ocotber_df[name]["Time(Local)"].iloc[0].tzinfo)
    print(type(total_ocotber_df[name]["Time(Local)"].iloc[0]))

# DataScraping

In [ ]:
import requests
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the website
url = "https://www.nucs.net/balancing/r2/pricesAndVolumesOfProcuredBalancingReserve/show"
# Define the query parameters
params = {
    "name": "",
    "defaultValue": "true",
    "viewType": "TABLE",
    "areaType": "MBA",
    "atch": "false",
    "dateTime.dateTime": "01.01.2022 00:00|CET|DAYTIMERANGE",
    "dateTime.endDateTime": "01.01.2022 00:00|CET|DAYTIMERANGE",
    "areaSelectType": "USER_SELECTED",
    "marketArea.values": [
        "CTY|10YNO-0--------C!MBA|10YNO-1--------2",
        "CTY|10YNO-0--------C!MBA|10YNO-2--------T",
        "CTY|10YNO-0--------C!MBA|10YNO-3--------J",
        "CTY|10YNO-0--------C!MBA|10YNO-4--------9",
        "CTY|10YNO-0--------C!MBA|10Y1001A1001A48H"
    ],
    "balancingDirection.values": "A01",
    "dataItems.values": "PRICE",
    "reserveType.values": "A96",
    "balancingTypes": "SECONDARY",
    "reserveSource.values": "ALL",
    "aFRRmFRRType.values": "A51"
}

# Send the GET request
response = requests.get(url, params=params)

# Create a BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(response.content, "html.parser")

print(type(soup))

title = soup.title
print(title)

text = soup.get_text()
print(text)

# Extract specific data from the website
# Customize this based on the structure of the website you're scraping
data = []
table = soup.find("table")
print(table)
if table:
    rows = table.find_all("tr")
    for row in rows:
        cells = row.find_all("td")
        data.append([cell.text.strip() for cell in cells])
else:
    print("Table not found on the webpage.")



# Create a pandas DataFrame from the extracted data
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv("data.csv", index=False)

# Fikk denne koden av Tiril

In [ ]:
import csv
import re
import requests
from bs4 import BeautifulSoup
import urllib3

# Disable SSL certificate verification
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

# Specify the URL of the website to scrape (UPDATE THIS)
website_url = "https://www.nucs.net/balancing/r2/pricesAndVolumesOfProcuredBalancingReserve/show?name=&defaultValue=true&viewType=TABLE&areaType=MBA&atch=false&dateTime.dateTime=01.01.2022+00:00|CET|DAYTIMERANGE&dateTime.endDateTime=01.01.2022+00:00|CET|DAYTIMERANGE&areaSelectType=USER_SELECTED&marketArea.values=CTY|10YNO-0--------C!MBA|10YNO-1--------2&marketArea.values=CTY|10YNO-0--------C!MBA|10YNO-2--------T&marketArea.values=CTY|10YNO-0--------C!MBA|10YNO-3--------J&marketArea.values=CTY|10YNO-0--------C!MBA|10YNO-4--------9&marketArea.values=CTY|10YNO-0--------C!MBA|10Y1001A1001A48H&balancingDirection.values=A02&dataItems.values=PRICE&reserveType.values=A96&balancingTypes=SECONDARY&reserveSource.values=ALL&aFRRmFRRType.values=A51#"

# Specify the output CSV file path (UPDATE THIS)
output_file_path = r"/Users/sandermeland/Documents/Jobb/Volte/master-kode/aFRR.csv"

# Prepare data for CSV writing
data = []
identifier = 1

# Make a request to the website
response = requests.get(website_url, verify=False)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.text, "html.parser")

# Extract the relevant data from the website
# Modify the code below to extract the data you need from the website
# Example: extracting text from <p> elements with a specific class
paragraphs = soup.find_all("body", class_="elm-user-anonymous columbia-page-main columbia-article-topic columbia-browser-python-requests columbia-platform- columbia-breadcrumb-home-mr-wi-fibasicsandbestpractices-wi-fi6%28802.11ax%29technicalguide columbia-live no-touch columbia-lang-en-us columbia-skin-elm")

for paragraph in paragraphs:
    text = paragraph.get_text()

    # Remove formatting and punctuation using regular expressions
    # Remove punctuation marks
    text = re.sub(r'[^\w\s]', '', text)

    # Remove extra whitespaces and newlines
    text = re.sub(r'\s+', ' ', text)

    # Convert to lowercase
    text = text.lower()

    # Chunk the text into overlapping chunks
    chunk_size = 1500
    overlap = 100

    text_chunks = [text[i:i + chunk_size] for i in range(0, len(text) - chunk_size + 1, chunk_size - overlap)]

    # Append the chunks to the data list with consecutive identifier
    # Change the column headers to something appropriate. Numbering needs to be unique in the final merged database file
    for chunk in text_chunks:
        row = [f"{identifier:03d}", "website", "Meraki 140723", chunk]
        data.append(row)
        identifier += 1

# Write data to the output CSV file
with open(output_file_path, "w", encoding="utf-8", newline="") as output_file:
    csv_writer = csv.writer(output_file)
    csv_writer.writerow(["Identifier", "Column 2", "Column 3", "Chunked Text"])  # Write header row
    csv_writer.writerows(data)  # Write data rows

In [ ]:
customer_df = pd.read_csv("/Users/sandermeland/Documents/Jobb/Volte/master-kode/customers-data/forbruk-2.csv", delimiter = ";" )

In [ ]:
def get_individual_consumptions(consumption_df : pd.DataFrame, id_nr : int):
    """ function to return the consumption data of only one of the meters

    Args:
        consumption_df (pd.DataFrame): total consumption with multiple id´s
        id_nr (int): _description_

    Returns:
        pd.DataFrame: yearly consumption for the chosen meter
    """
    meter_ids = consumption_df["identification"].unique().tolist()
    meter_value_dict = {meter_id : consumption_df[consumption_df["identification"] == meter_id] for meter_id in meter_ids}
    return meter_value_dict[meter_ids[id_nr-1]]

In [ ]:
meter1_df = get_individual_consumptions(consumption_df= customer_df, id_nr= 1)

In [ ]:
meter1_df

In [ ]:
monthly_df = pd.read_csv("/Users/sandermeland/Documents/Jobb/Volte/master-kode/customers-data/monthly_consump.csv", delimiter = ";" )

In [ ]:
monthly_df

In [ ]:
testdf = pd.read_csv("/Users/sandermeland/Documents/Jobb/Volte/master-kode/contracted_reserve_amount.csv", delimiter = "," )

In [ ]:
display(testdf)

In [ ]:
print(testdf["Frequency containment reserve"])